.header {
	width: 100%;
	max-width: 1920px;
	position: fixed;
	left: auto;
	right: auto;
	top: 0;
	z-index: 20;
	color: #FFF;
	margin: 0 auto;

	.page-scrolled & {
		background: #FFF;
	}

	.container {
		max-width: 1310px;
		padding: 0;
	}

	.compensate-for-scrollbar & {
		padding-right: 17px;
	}

	&__bottom {

		.page-short & {
			display: none;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		transition: 0.3s;

		@include ie11-align-center-fix;

		&_1 {
			min-height: 97px;
		}

		&_2 {
			min-height: 60px;
		}

		.page-scrolled & {
			min-height: 72px;
		}
	}

	&__toggle-popup {
		width: auto;
		min-height: 100%;
		font-size: 20px;
		font-weight: 800;
		line-height: 1;
		margin-right: 20px;
		i {
			font-size: 18px;
		}
		.icon-menu-close {
			position: absolute;
			left: -9999px;
			.page-menu-opened & {
				position: static;
			}
		}
		.page-menu-opened & .icon-menu {
			position: absolute;
			left: -9999px;
		}

		.page-short & {
			display: none;
		}
	}

	&__logo {
		display: none;
		cursor: pointer;
		min-height: 25px;
		max-width: 290px;
		margin-left: 15px;
		
		img {
			opacity: 0;
		}

		&-col {
			display: flex;
			max-height: 50px;
			align-items: baseline;
		}

		&_1,
		&_2 {
			display: block;			
			max-width: fit-content;			

			img {
				opacity: 1;
				max-height: 31px;
				margin-left: 5px;
			}
		}
	}

	&__phone {
		font-size: 20px;
		line-height: 110%;
		margin: 0 16px;

		a + a {
			margin-left: 25px;
		}
		a {color: #1D1E22;}
		b {
			font-weight: inherit;
		}
	}

	&__button {
		min-width: 220px;
		min-height: 100%;
		color: #FFF !important;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 0.03em;
		padding-left: 5px;
		padding-right: 5px;

		@media (min-width: 768px) {
			@include ie11-min-height-fix;
		}

		&_callback {
			background: $lblue;
		}
		&_registration {
			background: #F8006B;
			box-shadow: 3px 0px 43px rgba(3, 6, 59, 0.64);
		}

		.page-short & {
			display: none;
		}
	}

	&__links {
		min-width: 100%;
		@media (min-width: 992px) {
			min-width: 83%;
		}
		min-height: 100%;
		display: flex;
		align-items: center;
		@include ie11-align-center-fix;
		font-size: 16px;
		font-weight: bold;
		line-height: 125.45%;
		text-transform: uppercase;

		&-item {
			flex: auto;
			position: relative;
			text-align: center;
			margin: 0 5px;

			&_reg {
				display: none;
			}
		}
		&-item + &-item:before {
			content: '';
			position: absolute;
			top: 4px;
			bottom: 4px;
			left: -5px;
			border-left: 1px solid;
		}

		&-item_reg + &-item::before {
			display: none;
		}
	} // &__links

}

.lang-en {
	.header {
		&__phone {
			a {
				display: none;
				&:first-child {
					display: block;
				}
			}
		}
		&__links {
			&-item_franch,
			&-item_press {
				display: none;
			}
		}
	}
}