.discussion {
	padding: 46px 0 0px;
	&__title {
		font-size: 65px;
		line-height: 1;
		margin-bottom: 50px;
		text-align: center;
	}

	&__suptitle {
		font-size: 38px;
		line-height: 1;
		margin-bottom: 15px;
		text-align: center;
	}
}
