.price {

	&-promo {
		&__text {
			padding: 27px 0 20px;
		}
		&__subtitle {
			font-size: 29.5818px;
			&-part {
				background: linear-gradient(0deg, rgba(0,0,0,0) 3px, #F8006B 3px, #F8006B 6px, rgba(0,0,0,0) 6px);
			}
		}
		&__title {
			font-size: 36.9773px;
		}
	} // &-promo

	@media (max-width: 1199px) {

		&-sbs {
			&:after {
				width: 325px;
			}
			.container {
				&:before {
					right: -40px;
					width: 620px;
					height: 411px;
				}
			}
		}// &-sbs

		&-university {

			&__bar {
				flex-direction: column;
				width: 100%;
			}

			&__logo {
				margin-bottom: 40px;
			}
		}// &-university

		&-crm {
			&__text {
				padding: 55px;
			}
		}// &-crm
	}


	@media (max-width: 991px) {

		&-header {
			padding: 90px 0 30px;
			&__title {
				font-size: 56px;
				margin-bottom: 10px;
				div {
					font-size: 32px;
				}
			}
			&__note {
				font-size: 24px;
			}
		}

		&-payment {
			padding: 40px 0 50px;
			&__title {
				font-size: 56px;
				margin-bottom: 20px;
			}
			&__note {
				font-size: 24px;
				margin-bottom: 20px;
			}
			&__gift {
				font-size: 20px;
				margin-bottom: 30px;
				&-image {
					margin-bottom: 18px;
				}
			}
			&__button {
				max-width: 330px;
				box-shadow: none;
				margin-bottom: 30px;
			}
		} // &-payment

		&-base {
			font-size: 12px;
			padding: 70px 0;
			&__right {
				padding-left: 0;
			}
			&__title {
				font-size: 54px;
				margin-bottom: 40px;
			}
			&__logo {
				margin: 0 0 10px;
			}
			&__subtitle {
				font-size: 28px;
				margin: 20px 0 10px;
			}
		} // &-base

		&-sbs {
			font-size: 21px;

			.container {
				&:before {
					width: 576px;
					height: 372px;
				}
			}
			&__title {
				max-width: 600px;
				line-height: 100%;
			}
			&__text {
				max-width: 60%;
				div {font-size: 3vw;}
				span {
					max-width: 70%;
					font-size: 12px;
					line-height: 150%;
				}
				&_2 {
					max-width: 100%;
					span {max-width: 33%;}
				}
			}
		} // &-sbs

		&-crm {
			font-size: 21px;
			&__logo {
				margin-bottom: 40px;
			}
			&__photo {
				min-width: 360px;
			}
			&__text {
				padding: 45px;
			}
		} // &-crm

		&-lang {
			&__subtitle {
				font-size: 32px;
			}
			&__item {
				font-size: 16px;
				margin-bottom: 10px;
			}
			&__list {
				flex-wrap: wrap;
			}
			&__bar {
				padding: 30px;
			}
			&__description {
				font-size: 16px;
			}
		} // &-lang

		&-university {
			padding: 60px 0 50px;

		}// &-university

		&-faq {
			padding-top: 30px;
		}// &-faq

		&-footer {
			padding: 50px 0 30px;

			&__logo {
				&_1 {
					width: 40%;					
				}
				&_2 {
					width: 60%;
					padding-left: 15px;
				}
			}
			&__box {padding: 0;}
			&__left {
				width: 50%;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				flex-wrap: wrap;
				&-inner {
					position: static;
					flex-direction: column;
					a{
						margin-bottom: 15px;
						padding-left: 0;
					}
				}
			}

			&__right {
				width: 50%;
			}
			&__department {
				width: 100%;
				&-name,
				&-phone,
				&-mail {
					margin-bottom: 4px;
				}
			}
		}// &-footer

	} // 991


	@media (max-width: 767px) {

		&-header {
			padding: 66+22px 0 24px;
			&__title {
				font-size: 34px;
				margin-bottom: 5px;

				div {font-size: 16px;}
			}
			&__note {
				font-size: 18px;
			}
		}

		&-payment {
			text-align: left;
			padding: 30px 0 10px;
			&__title {
				font-size: 28px;
				.price-payment_2 & {
					font-size: 38px;
					margin-bottom: 7px;
					&-part {
						display: none;
					}
				}
			}
			&__note {
				font-size: 21px;
				margin-bottom: 18px;
			}
			&__gift {
				font-size: 18px;
				margin-bottom: 0px;
				&-image {
					margin-bottom: 12px;
				}
				&-text {
					margin-bottom: 30px;
				}
			}
			&__button {
				display: flex;
				margin: 0 auto 18px;
			}
			&__options {
				flex-wrap: wrap;
				&-image {
					flex: 0 0 23%;
					margin: 0px 0px;
				}
			}
		} // &-payment

		&-promo {
			display: none;
			overflow: hidden;
			flex-direction: column;
			background-image: url('../../img/price/promo/mobile/bg.jpg');
			padding: 0 26px;
			&__title {
				font-size: 38px;
			}
			&__image {
				margin: 0 -26px 0 -45px;
			}
		} // &-promo

		&-base {
			box-shadow: none;
			background-image: url('../../img/@price/synergydigital/price/bg-mobile.jpg');
			padding: 50px 0 40px 0;
			&__title {
				font-size: 28px;
				margin-bottom: 30px;
			}
			&__subtitle {
				font-size: 24px;
			}
			&__logo {
				max-width: 140px;
				margin: 0 0 10px;
			}
		} // &-base

		&-sbs {
			padding: 34px 20px 230px;
			.container {
				position: static;
				&:before {
					width: 485px;
					height: 290px;
					right: 50%;
					transform: translateX(50%);
				}
			}

			&:after {
				width: 100%;
				height: 240px;
				bottom: 0;
				top: auto;
			}
			&__title {
				font-size: 28px;
				margin-bottom: 25px;
				max-width: 100%;
				text-align: center;
			}
			&__logo {
				margin-bottom: 40px;
				text-align: center;
				img {max-width: 150px;}
			}
			&__text {
				max-width: 100%;
				div {
					font-size: 24px;
					max-width: 100%;
				}
				span {max-width: 100%;}
				&_2 {
					padding-top: 10px;
				}
			}
		} // &-sbs

		&-crm {
			padding: 46px 0 50px;
			font-size: 2.2vw;
			&__title {	
				font-size: 28px;
				margin-bottom: 12px;
			}
			&__logo {
				img {max-width: 110px;}
			}
			&__top {text-align: center;}
			&__text {
				display: flex;
				align-items: center;
				padding: 30px;
				width: 55%;
			}
			&__photo {
				min-width: auto;
				width: auto;
			}
		} // &-crm

		&-lang {
			padding: 50px 0;
			&__box {flex-direction: column-reverse;}
			&__description {
				font-size: 14px;
			}
			&__title {
				padding: 0 15px;
			}
			&__photo {
				min-width: auto;
				width: 100%;
				text-align: center;
				img {
					width: 100%;
					max-width: 500px;
				}
			}

			&__bar {
				padding: 20px;
				width: 100%;
			}
	
			&__subtitle {
				font-size: 24px;
			}
			&__item {
				font-size: 16px;
			}
		} // &-lang

		&-university {
			padding: 50px 0;
			background-image: url(../../img/@price/synergydigital/price/university/bg-mobile.jpg);

			&__title {
				margin-bottom: 20px;
			}

			&__top {
				flex-direction: column;
			}

			&__description {
				font-size: 18px;
				margin: 30px 0;
			}

			&__logo {
				max-width: 270px;
			}

			&__item {
				width: 80%;
				padding: 0;
				margin-bottom: 30px;
				&-number { font-size: 60px; }
				&-text { font-size: 18px; }
			}

			&__box {
				flex-direction: column;
			}
		}// &-university

		&-faq {
			padding-bottom: 20px;
			&__title {
				font-size: 49px;
				margin-bottom: 20px;
			}

			&__item {
				font-size: 18px;
				line-height: 28px;

				&-top {
					padding: 18px 35px 18px 0;

					&:after {
						right: 0;
						top: 20px;
					}
				}

				&-bottom {
					padding: 0 40px 20px 0;
				}
			}
		}// &-faq

		&-footer {
			padding-bottom: 90px;
			&__logo {
				&_1 {
					width: 50%;					
				}
				&_2 {
					width: 50%;
					padding-left: 10px;
				}
			}
		}

	} // 767


	@media (max-width: 575px) {
		.payment-button {
			display: flex!important;
		}
		&-header {
			padding: 66+22px 0 24px;
			&__title {
				font-size: 22px;
			}
			
		}
		&-crm {

			&__bottom,
			&__top {
				flex-direction: column;
			}
			&__text {
				font-size: 14px;
				padding: 25px;
			}
			&__text,
			&__photo {
				width: 100%;
			}
			&__photo {								
				text-align: center;
				img {width: 100%;}
			}
		}
		.payments__wrapper{
			.price-card__header-name {
				font-size: 26px;
			}
		}

	} // 575

	@media (max-width: 480px) {
		&-footer {
			padding-bottom: 20px;
			&__box {
				flex-direction: column;
				padding-bottom: 200px;
				position: relative;
			}
			&__left {
				width: 100%;
				&-phone {
					margin-bottom: 40px;
				}
				&-inner {
					position: absolute;
					bottom: 65px;
					left: 0;
				}
			}
			&__right {
				width: 100%;
			}
			&__logo {
				&_2 {margin-bottom: 30px;}
			}
			&__department {
				margin-bottom: 30px;
				padding-left: 0;
			}
		}
	}

}
