.main {
	background-image: url('../img/main/tablet/bg.jpg');

	&__partner {
		&-text {
			font-size: 32px;
		}
	}

	&__speaker {
		&_no-content & {
			&-image {
				max-width: 115%;
			}
		}
	}

	@media (max-width: 991px) {
		padding-top: 48px;
		&__info {
			margin: 12px -10px 26px 0;
		}
		&__title {
			margin-right: -10px;
		}

		&__speaker {
			&-content {
				max-width: 200px;
				margin-right: 10px;
			}
			&-image {
				bottom: 0;
				right: 90px;
				margin-left: -90px;
			}
			&-date {
				font-size: 21px;
			}
			&-name {
				font-size: 49px;
				margin-left: 17px;
			}

			&_no-content & {
				&-name {
					font-size: 4.5vw;
				}
			}
		} // &__speaker

		&__bottom-form {
			margin-bottom: -27px;
		}

	} // 991

	@media (max-width: 1120px) {

		&__speaker {
			&_no-content & {
				&-name {
					font-size: 4.5vw;
				}
			}
		}
	}


	@media (max-width: 767px) {
		background-image: url('../img/main/mobile/bg.jpg');
		padding: 88px 0 0;

		&__bg {
			background: #230872;
		}

		&-1 {
			margin-top: 66px;
		}

		&__info {
			max-width: 73.4%;
			margin: 0 0 13px 0;
			display: none;
			.main_no-speaker & {
				max-width: none;
			}
		}

		&__title {
			max-width: 55%;
			margin: 0 0 29px;
			z-index: 3;
			position: relative;
			.main_no-speaker & {
				max-width: none;
			}

			&-speaker {
				&-date {
					font-size: 18.6133px;
					padding: 7px 12px;
					margin: 0 auto 0 0;
				}
				&-name {
					font-size: 63.4873px;
					line-height: 89%;
					margin: auto 0 0;
				}
				&-note {
					max-width: 220px;
					font-size: 36.3434px;
					margin: 6px 0 12px;
				}
			} // &-speaker
		} // &__title

		&__bottom-form {
			display: none;
		}

		&__form {
			display: none;
			&-counter {
				color: #3640B9;
				background: #FFF;
				margin: 9px -15px 0;
			}
		}

		&__speaker {
			flex-direction: row;
			align-items: center;
			background: #000000;
			padding: 0 14px 0 15px;
			margin: 0 -15px;
			&-image {
				max-width: 239px;
				max-height: 183px;
				overflow: hidden;
				bottom: 100%;
				right: -66px;
				margin: 0;
				&-desc {
					display: none;
				}
				&-mobile {
					display: block;
				}
			}
			&-content {
				max-width: 116px;
				order: 2;
				margin: -14px 0 -12px auto;
				img {
					box-shadow: 0px 6px 10px rgba(0, 3, 80, 0.25);
				}
			}
			&-title {
				display: block;
				// padding: 15px 0;
				padding: 43px 0;
			}
			&-box {
				display: flex;
				margin-bottom: 15px;
				align-items: flex-end;
			}
			&-headliner {
				display: block;
				font-weight: bold;
				font-size: 15px;
				line-height: 19px;
				letter-spacing: -0.05em;
				text-transform: uppercase;
			}
			&-date {
				display: inline-block;
				font-size: 17.1745px;
				padding: 5px 8px 7px;
				margin: 0 15px 0 0!important;
			}
			&-base {
				max-width: 110px;
				min-width: 90px;
				padding: 2px 8px;
				margin: 0 auto 15px 0;
			}
			&-name {
				white-space: normal;
				margin: 0 10px 0 0;
				font-size: 57px;
				line-height: 47px;
				text-transform: uppercase!important;
				color: #FFFFFF;
			}

			&_no-content & {
				&-image {
					max-width: 57%;
					max-height: initial;
					bottom: 100%;
					right: 0px;

					&:before {
						box-shadow: 0px -20px 40px 40px rgba(33, 0, 128, 0.1);
					}
				}
				&-title {
					display: block;
					width: 100%;
				}
				&-name {
					font-size: 34px;
					text-align: left;
					br {
						display: none;
					}
				}
			}
		} // &__speaker

	} // 767


	@media ( max-width: 575px ) {
		background-image: url('../img/@lp/@top-taleb/main/bg_mobile.jpg');
		padding-top: 48px;

		&__title {
			max-width: 222px;
			margin-bottom: 42px;
		}

		&__speaker {
			&_no-content & {
				&-image {
					max-width: 270px;
					right: -60px;
					img {
						margin-bottom: -10px;
					}
				}
				&-title {
					padding: 20px 0 15px;
				}
				&-box {
					margin-bottom: 5px;
				}
				&-date {
					font-weight: 800;
					text-transform: uppercase;
					span {
						display: none;
					}
				}
				&-headliner {
					font-size: 15.668px;
					line-height: 0.9;
				}
				&-name {
					max-width: 270px;
					font-size: 40px;
					line-height: 90%;
				}
			}
		}

	} // 575

}