.bottom {

    @media (max-width: 1199px) {

        &__person {
            max-width: 485px;
            text-align: left;
            margin: -35px 0 -23px -25px;
        }

        &__right {
            padding: 42px 0 0 40px;
        }

        &__info {
            bottom: 45px;
        }
    
        &__date {
            font-size: 36px;
        }
    
        &__name {
            font-size: 42px;
            line-height: 86% ;
        }

        &__head {
            padding: 56px 0 64px 0;
        }

        &__title {
            font-size: 64px;
            line-height: 100%;
            margin-bottom: 8px;
        }
    
        &__subtitle {
            font-size: 36px;
        }

        &__phone {
            padding-top: 25px;
            font-size: 20px;
            line-height: 180%;
            
            &:before {
                vertical-align: middle;
                margin-right: 8px;
            }
        }
    }
    
    @media (max-width: 991px) { 
        
        &__title {
            font-size: 60px;
        }

        &__subtitle {
            font-size: 32px;
        }
        
    }
    
    @media (max-width: 767px) {

        &__box {
            width: auto;
            flex-direction: column;
            margin: 0 -15px;
        }

        &__left {
            width: 100%;
        }

        &__person {
            max-width: 485px;
            text-align: left;
            margin: 38px -40px -23px -15px;
        }

        &__info {
            bottom: 30px;
            left: 15px;
            right: 15px;
        }

        &__date {
            font-size: 28px;
        }
    
        &__name {
            font-size: 36px;
        }

        &__head {
            padding: 44px 15px 50px 15px;
        }

        &__title {
            font-size: 50px;
        }

        &__subtitle {
            font-size: 28px;
        }

        &__right {
            width: 100%;
            padding: 37px 15px 50px 15px;
        }

        &__phone {
            padding-top: 25px;
            font-size: 18px;
            text-align: center;
            
            &:before {
                display: none;
            }
        }
    }
    
    @media (max-width: 575px) {
        
    }
    
}