.header {

	@media (max-width: 991px) {

		&__phone {
			font-size: 20px;
			a+a {margin-left: 15px;}
		}

		&__button {
			min-width: 146px;
			min-height: 44px;
			font-size: 10px;
			margin: auto;
			&-col {
				align-self: center;
			}
		}

	} // 991


	@media (max-width: 767px) {

		&__logo {
			max-width: 400px;
		}
		&__phone {
			display: none;
			&-col {
				display: none;
			}
		}

		&__button {
			min-height: 80px;
			font-size: 23px;
			box-shadow: none;
			margin-bottom: 10px;
			&-col {
				width: auto;
				height: auto;
			}
			.page-scrolled & {
				bottom: 0;
			}
			&,
			.page-scrolled_on-mobile-form-2 &,
			.page-scrolled_on-mobile-form-1 & {
				bottom: 0;
			}
		}
		&__toggle {
			&-popup {
				&-col {
					display: none;
				}
			}
		}

	} // 767

	@media (max-width: 575px) {
		&__logo {width: 300px;}
	}

}
