.header {
    max-width: 1920px;
    width: 100%;
    transform: translate(-50%, 0%);
    left: 50%;
    position: absolute;
    top: 0;
    z-index: 1000;
    background: transparent;
    &.fixed {
        position: fixed;
    }
    &.price__fixed {
        position: fixed;
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        .fixed &, .price__fixed & {
            position: relative;
            top: 10px;
            background: #a56464f2;
            border-radius: 18px;
            padding: 10px 15px;
        }
        .price__fixed & {
            height: 80px;
            background: rgba(153, 108, 108, 0.8);
            border-radius: 18px;
        }
        &-logo {
            max-width: 142px;
            width: 100%;
            margin-right: 50px;
        }
        &-nav {
            font-family: 'Tenor Sans';
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            align-self: center;
            li {
                margin-right: 30px;
            }
        }
        &-link {
            // max-width: 376px;
            // width: 100%;
            // margin-left: auto;
            // margin-right: 0;
            // display: flex;
            // align-items: center;
            .phone {
                display: flex;
                align-items: center;
                font-size: 22px;
                line-height: 32px;
				margin-right: 35px;
				color: #FFFFFF;
				&:hover{
					color: #FFFFFF;
					opacity: 0.8;
					text-decoration: none;
				}
                &-mobile {
                    display: none;
                }
            }
            .link {
                max-width: 175px;
                width: 100%;
                height: 40px;
                background: transparent;
                border: 2px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 44px;
                padding: 0 20px;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .fixed &, .price__fixed & {
                    background: #FFFFFF;
                    color:#F06262;
                }
            }
        }
    }
}

.header__list-mobile {
    display: none;
}
.burger-menu{
    display:none;
}
.menu-active{
    display: block;
}
.menu-noactive{
    display:none;
}
.menu__mobile{
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header__list-mobile {
    display: flex;
    flex-direction: column;
    margin-top: -25px;
    padding: 30px;
    background: rgba(153, 108, 108, 0.9);
    border-radius: 5px;
    .header__item {
        text-align: center;
        padding-bottom: 10px;
        a {
            font-family: 'Tenor Sans';
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}
