.current {
	padding: 144px 0 151px 0;

	&__title {
		position: relative;
		z-index: 1;
		margin-bottom: 40px;
		line-height: 120px;
	}
	&__content {
	}
	&__img {
		width: 50%;
		text-align: right;
		z-index: 10;
		&--box {
			width: 620px;
			height: 416px;
			overflow: hidden;
			text-align: center;
			margin: 280px auto -225px auto;
			display: flex;
			justify-content: center;
		}
		picture {
			width: 1004px;
			height: 416px;
			display: block;
		}
		img {
			width: 1004px;
			max-width: 1004px;
			height: 416px;
		}
	}
	&__text {
		width: 50%;
		margin-bottom: 22px;
		padding: 0 1rem 0 5rem;
		p {
			margin-bottom: 2.8rem;
		}
	}
	.blockquote {
		margin-top: 0;
	}
}
