
.price-card {
	@media (max-width: 991px) {
	}
	@media (max-width: 767px) {		
		&#price-demo {
			flex-direction: column;
			max-width: 100%;
			margin: 0 auto 60px;			
		}
		&#price-demo &{
			&__header {				
				max-width: 100%;
				width: 100%;
				align-items: center;		
				border-radius: 5px 5px 0px 0px;

				&-name {
					font-size: 19.2531px;
					line-height: 1.2;
					margin: 0;
					br {display: none;}
				}
			}			
			&__item +
			.price-card__item {
				&:before {content: none;}
			}
			&__body { 
				width: 100%;
				padding: 30px 30px 20px;
			}
			&__button,
			&__label { 
				width: 100%;
			}
			&__button { 				
				max-width: 400px;
				margin: 20px auto;
			}
			&__label { 				
				max-width: 100%;
				font-size: 8px;
			}
		}
	}
	@media (max-width: 575px) {
	}
}

.price {
	@media (max-width: 1199px) {	
		&__subtitle {
			margin-bottom: 40px;
		}
	}
	@media (max-width: 575px) {	
    padding-bottom: 120px;
		.payment-button {
			display: flex;
			background: #00A3FF;
		}
	}
}