.page-short .main{
	margin-top: 66px;
	@media (max-width: 767px) {
		padding: 30px 0 0;
	}
}
.page-thanks{
	.main__form{
		background: radial-gradient(30.39% 16.19% at 40.37% 0%, #FF4090 0%, rgba(248, 0, 107, 0) 100%), radial-gradient(53.03% 12.68% at 64.66% 100%, #FF4090 0%, rgba(248, 0, 107, 0) 100%), linear-gradient(90.05deg, rgba(248, 0, 107, 0.65) -1.82%, rgba(248, 0, 179, 0.706875) 39.52%, rgba(248, 0, 107, 0.79) 99.94%);
		box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		padding: 25px 54px 60px 48px;
		@media (max-width: 991px) {
			padding: 15px;
		}
	}
	.form__title{
		font-weight: 800;
		font-size: 40px;
		line-height: 40px;
	}
	.form__button{
		background: #FFFFFF;
		border-radius: 5px;
		font-weight: bold;
		font-size: 18px;
		line-height: 109.62%;
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #F8006B!important;
	}
	.thanks__title{
		span{
			color: #F8006B;
		}
		h1{
			font-family: 'Proxima Nova Cn';
			font-weight: 900;
			font-size: 61.8448px;
			line-height: 57px;
			letter-spacing: -0.015em;
			text-transform: uppercase;
			color: #fff;
			margin: 0;
			@media (max-width: 991px) {
				font-size: 40px;
				line-height: 37px;
			}
		}
		p{
			font-weight: 600;
			font-size: 23.4211px;
			line-height: 30px;
			letter-spacing: -0.015em;
			color: #FFFFFF;
			display: block;
			margin: 20px 0;
			@media (max-width: 767px) {
				font-size: 15px;
				line-height: 19px;
			}
		}
		h2{
			font-family: 'Proxima Nova Cn';
			font-weight: 900;
			font-size: 41px;
			line-height: 38px;
			letter-spacing: -0.015em;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 0;
			@media (max-width: 991px) {
				font-size: 20px;
				line-height: 23px;
			}
		}
	}
}

.main {
	position: relative;
	z-index: 1;
	color: #FFF;
	background: #190543 url('../img/@lp/@synergyonline-platform/main/bg.jpg') no-repeat center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 50px;
	padding: 36+80px 0 56px;
	&__bg {
		overflow: hidden;
		background: #190543;
	}
	&__bg-video {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translate3d(-50%,-50%,0);
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(136.29deg, rgba(248, 0, 107, 0.4) 5.29%, rgba(248, 0, 107, 0) 35.2%), linear-gradient(219.13deg, rgba(248, 0, 107, 0.72) 1.13%, rgba(248, 0, 107, 0) 31.36%), linear-gradient(180.39deg, rgba(37, 6, 141, 0) 53.09%, rgba(36, 7, 137, 0.27) 59.29%, #0C0034 93.78%), linear-gradient(1.01deg, rgba(57, 14, 204, 0) 43.63%, rgba(36, 7, 137, 0.27) 61.63%, rgba(57, 0, 255, 0.69) 97.28%), rgba(2, 11, 94, 0.46);
		}
	}
	&__title{
		background: linear-gradient(90deg, rgba(255, 0, 153, 0) 0%, #FF0099 49.23%, rgba(255, 0, 153, 0) 100%);
		font-weight: bold;
		font-size: 16px;
		line-height: 200%;
		letter-spacing: 0.5em;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
		max-width: 693px;
		margin: 0 auto 25px;
	}
	&__subtitle {
		max-width: 944px;
		text-align: center;
		font-size: 42px;
		font-weight: 900;
		line-height: 96%;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		margin: 0 auto 36px;
	}
	&__logo{
		margin-bottom: 32px;
		img{
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}
	}
	&__description{
		font-family: 'Proxima Nova';
		font-weight: bold;
		font-size: 30.479px;
		line-height: 79%;
		letter-spacing: -0.015em;
		color: #FFFFFF;
		display: flex;
		margin-bottom: 44px;
		&-item {
			width: 33%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			span:first-child {
				font-size: 64px;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
		}
		@media (max-width: 1199px) {
			justify-content: center;
			align-items: flex-start;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.version-blogger {
	.main {
		&__discount {
			display: flex;
			justify-content: space-between;
			background: #fff;
			color: $blue;
			padding: 59px 39px 60px 59px;
		}
		&__pocket {
			max-width: 408px;
			min-height: 407px;
			background: url('../img/main/pocket_bg.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 14px;
			color: #fff;
			padding: 30px 35px;
			box-shadow: 0px 4px 88px rgba(0, 0, 0, 0.11), 0px 4px 4px rgba(0, 0, 0, 0.11), 0px 4px 4px rgba(0, 0, 0, 0.11), 0px 4px 4px rgba(0, 0, 0, 0.11);
			&-small {
				&_top {
					font-size: 18px;
					line-height: 1;
					margin-bottom: 8px;
				}
				&_bottom {
					font-size: 13px;
					line-height: 18px;
					margin-bottom: 10px;
				}
			}
			&-bottom {
				text-align: center;
			}
			&-name {
				font-family: 'Proxima Nova ExCn';
				font-size: 66px;
				line-height: 1;
				font-weight: 900;
				margin-bottom: 18px;
				text-transform: uppercase;
			}
			&-price {
				position: relative;
				min-width: 447px;
				background: $red;
				color: #fff;
				transform: translateX(-12%);
				padding: 23px 0 23px 59px;
				margin-bottom: 37px;
				&:before, &:after {
					position: absolute;
					bottom: -20px;
					content: '';
					max-width: 20px;
					max-height: 20px;
				}
				&:before {
					left: 0;
					border: 10px solid transparent;
					border-top: 10px solid #7D0036;
					border-right: 10px solid #7D0036;
				}
				&:after {
					right: 0;
					border: 10px solid transparent;
					border-top: 10px solid #7D0036;
					border-left: 10px solid #7D0036;
				}
			}
			&-discount {
				position: relative;
				font-size: 26px;
				line-height: 1;
				margin-bottom: 5px;
				&:after {
					position: absolute;
					bottom: 35%;
					left: -2%;
					content: '';
					width: 171px;
					min-height: 2px;
					background: #fff;
				}
			}
			&-list {
				ul {
					padding-left: 13px;
					li {
						font-size: 18px;
						line-height: 1;
						margin-bottom: 26px;
					}
				}
			}
			&-time {
				font-family: 'Proxima Nova ExCn';
				font-size: 43px;
				line-height: 1;
				font-weight: 900;
				text-transform: uppercase;
			}
		}
	}
	.form-horizontal-blogger {
		display: flex !important;
		.form {
			width: 100%;
			max-width: 615px;
			background: none;
			box-shadow: none;
			padding: 0;
			&__input {
				border: 2px solid $blue;
				max-width: 252px;
			}
			&__items {
				width: 100%;
				max-width: 525px;
				display: flex;
				justify-content: space-between;
				margin-bottom: 17px;
			}
			&__item {
				width: 48%;
				padding-left: 0;
				margin-bottom: 17px;
			}
			&__button {
				max-width: 100%;
				margin-top: 0;
			}
			&__title {
				font-family: 'Proxima Nova ExCn';
				font-size: 60px;
				line-height: 56px;
				text-transform: uppercase;
				font-weight: 900;
				text-align: left;
				color: $blue;
				padding-top: 20px;
				margin-bottom: 52px;
				span {
					display: block;
					color: $red;
				}
			}
			&__link {
				position: relative;
				display: none;
				margin-bottom: 44px;
				margin-top: 36px;
				a {
					position: relative;
					font-family: 'Proxima Nova ExCn';
					font-size: 20px;
					line-height: 27px;
					font-weight: 900;
					text-transform: uppercase;
					text-decoration: none;
					color: $blue;
					&:after {
						content: '';
						position: absolute;
						left: 0;
						bottom: -10px;
						width: 100%;
						max-width: 100%;
						height: 6px;
						background: $red;
					}
				}
			}
			&__footer {
				&-checkbox {
					background: rgba(4, 7, 31, 0.34);

				}
			}
		}
	}
}