.reviews {

	@media (max-width: 991px) {
		padding: 70px 0 40px;
	} // 991

	@media (max-width: 767px) {
		padding: 52px 0 57px;

		&__title {
			margin-bottom: 50px;
		}

		&__card {
			min-width: 300px;
		}

	} // 767

}
