
.price-card {
	&#price-offline {
		width: 100%;
		padding: 0;
		margin: 50px 0;
    max-width: unset;
		flex-direction: row;
		box-shadow: 0px 3.55625px 21.3375px rgba(70, 32, 223, 0.25);
		min-height: 250px;		
		border-radius: 5px;
	}
	&#price-offline &{
		&__header {
			max-width: 362px;
			flex-direction: column;
			align-items: flex-start;
			width: 32%;
			background: linear-gradient(91.04deg, #00E0FF 0.69%, #00A3FF 100%);
			border-radius: 5px 0px 0px 5px;
			
			&-name {				
				font-size: 30px;
				line-height: 105%;
				margin-bottom: 10px;
				text-align: left;
			}
			&-price {
				display: block;
			}
		}
		&__cost {display: none;}
		&__box { margin-bottom: auto; }
		&__label {
		/* 	display: block !important; */
			margin: 0;
		}
		&__body {	
			width: 68%;
			padding: 17px 40px 40px;
			background: #FFFFFF;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: flex-end;		
		}

		&__item {
			text-align: left;
			padding: 13px 0;
			border-bottom: 1px solid #DBE4F5;
			&-title {				
				font-family: 'Montserrat', sans-serif;
				font-weight: normal;
				font-size: 13px;
				line-height: 120%;
			}
		}
		&__item +
		.price-card__item {
			&:before {content: none;}
		}
		&__button { 
			width: 33%;
			margin: 0 auto 0 0;
			box-shadow: 0px 15.19px 40px rgba(0, 87, 255, 0.5);
			border-radius: 33px;
		}
		&__label { 			
			font-family: 'Montserrat', sans-serif;
			width: 67%;
			padding: 0;

			

			&-checkbox {
				&-icon:before {
					content: url("../../img/price-new/check.svg");
				}
			}

		}
	}
}
