.popup-message {
    max-width: 450px!important;
    
    .popup-title {
            font-family: 'Proxima Nova ExCn';
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 16px;
    }
}