.digital-plf {
	text-align: center;
	padding: 0 0 20px;

	&__text {
		height: 100%;
		max-width: 360px;
		min-height: 200px;
		background-color: #FFF;
		box-shadow: 0px 4px 30px rgba(77, 44, 224, 0.3);
		font-weight: 900;
		font-size: 32px;
		line-height: 88.91%;
		text-align: center;
		letter-spacing: -0.03em;
		color: #05006D;
		padding: 23px 10px 15px 10px;
		margin: 0 auto;

		&:before {
			content: '';
			display: block;
			width: 102px;
			height: 82px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			margin: 0 auto 10px auto;
		}

		&_1 {
			&:before {background-image: url(../img/digital-plf/digital-icon-3.png);}
		}
		&_2 {
			&:before {background-image: url(../img/digital-plf/digital-icon-4.png);}
		}
		&_3 {
			&:before {background-image: url(../img/digital-plf/digital-icon-5.png);}
		}
	}
}
