.about {

	@media (max-width: 991px) {
		padding: 52px 0 39px;

		&__title {
			margin: 25px 30px 10px 0;
		}

		&__text {
			margin: 0 39px 31px 0;
		}

		&__image {
			padding: 32px;
			margin-left: -46px;
		}

		&__info {
			&-title {
				font-size: 31px;
				margin-bottom: 12px;
			}
			&-text {
				font-size: 15px;
			}
		}

	} // 991


	@media (max-width: 767px) {

		padding: 0px 0 33px;

		&__title {
			margin: 0px 0 10px;
		}

		&__text {
			font-size: 18px;
			margin: 0;
		}

		&__image {
			padding: 28px;
			margin: 0;
		}

		&__info {
			&-title {
				font-size: 22px;
				margin: 25px 0 10px;
			}
			&-text {
				font-size: 14px;
			}
		}

	} // 767

}