body {
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	color: #000;
	background: #fff;
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	max-width: 1920px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-shadow: 0 0 21px rgba(157, 163, 183, .75);
	position: relative;
	margin: 0 auto;
}

.container {
	max-width: 1170px;
}


span {line-height: 100%;}

div { box-sizing: border-box;}

br { line-height: 0; }

a { color: inherit; cursor: pointer;}

a:focus,
a:hover,
a {
	color: inherit;
	transition: 0.3s;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

*:focus {
	outline: none !important;
}

input:focus {
	outline: none;
}

[type="submit"][disabled] {
  cursor: not-allowed !important;
  opacity: 0.5;
}

::placeholder {
	color: inherit;
}

::-webkit-scrollbar-track {
	background-color: rgba(174, 178, 182, 0.2);
}

::-webkit-scrollbar-thumb {
	background-color: #AEB2B6;
}

::-webkit-scrollbar-thumb:hover {

}

::-webkit-scrollbar {
	width: 12px;
}


.lazy {
	background-image: none !important;
	opacity: 0;
	&:before,
	&:after {
		content: none !important;
	}

	&-loaded {
		opacity: 1;
		transition: 0.1s;
	}
}

.widget-form-privacy {
	display: none !important;
}

.send-success {
  min-height: 480px;
}

.fancybox-close {
	background-image: none;
	width: 25px;
	height: 25px;
	top: 15px;
  right: 15px;
  font-size: 32px;
}

.button {
	font: 900 14px/2em 'Mont';
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 320px;
	width: 100%;
	min-height: 55px;
	background: #000;
	border-radius: 0px;
	transition: all .5s ease;
	text-decoration: none;
	cursor: pointer;

	&:hover {
  	box-shadow: 0px 1px 5px 1px #57a0d5a3;
  	color: #fff;
	}
}

.title-section {
    font-family: 'Mont';
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1C1E2C;
    font-weight: 900;
@media (max-width: 768px) {
    font-size: 30px;
    line-height: 35px;
}

@media (max-width: 575px) {
    font-size: 20px;
    line-height: 23px;
}
}

.title-section {
	font-family: 'Mont';
	font-size: 50px;
	line-height: 59px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #1C1E2C;
	font-weight: 900;

	@media (max-width: 768px) {
		font-size: 30px;
		line-height: 35px;
	}

	@media (max-width: 575px) {
		font-size: 20px;
		line-height: 23px;
	}
}

.fancybox-privacy__content {
	max-width: 900px;
	.fancybox-close-small svg {
		display: block;
	}
}

.fancybox-slide--html .fancybox-close-small {
	width: 70px;
	height: 70px;
}

.fancybox-close-small svg {
	display: none;
}
