.thanks {
	width: 100%;
	max-width: 1920px;
	padding: 100px 0;
	flex-grow: 1;
	h1 {
		font-size: 70px;
		line-height: 70px;
		font-weight: 900;
		letter-spacing: -0.03em;
		text-align: center;
		color: #000051;
		span {
			color: #F8006B;
			display: block;
		}
	}
	.promo {
		width: 100%;
		display: flex;
		background: #F2F2F2;
		margin-top: 50px;
		&__img {
			width: 100%;
			max-width: 382px;
			min-height: 100%;
			background: url('../img/@lp/@platform/thanks/picture.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		&__text {
			padding: 69px 56px 71px 77px;
			p {
				font-size: 21px;
				line-height: 29px;
				font-weight: 600;
				color: #0C0C0C;
				margin: 15px 0 0;
			}
		}
		&__title {
			margin-bottom: 33px;
			h2 {
				font-size: 50px;
				line-height: 50px;
				color: #000051;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		&__subtitle {
			h3 {
				font-size: 31px;
				line-height: 31px;
				color: #3215E4;
				margin: 0;
				font-weight: bold;
			}
			& + .promo__subtitle{
				margin-top: 20px;
			}
		}
		&__logo {
			max-width: 123px;
			margin-top: 32px;
			img {
				width: 100%;
			}
		}
		&__button {
			margin-top: 50px;
			.button {
				width: auto;
				max-width: 550px;
				min-width: 300px;
				min-height: 80px;
				font-size: 29px;
				font-weight: 900;
				background: #F8006B;
				box-shadow: 0px 7px 22px rgba(0, 0, 0, 0.09);
				color: #fff;
				padding: 0 20px;
			}
		}
	}
	&__subtitle {
		font-weight: bold;
		font-size: 31px;
		text-align: center;
		margin-bottom: 20px;
	}
	&__letter {
		font-size: 21px;
		color: #000051;
	}
	&__todo{
		padding-left: 20px;
		margin-bottom: 50px;
		li {
			color: #F8006B;
		}
		span {
			color: #000051;
		}
		&_item {
			font-size: 21px;
		}
	}

	&__chatbot {
		display: flex;
		justify-content: space-around;
		background: #F9F9F9;
		font-size: 21px;
		line-height: 22px;
		padding: 30px 130px;
		margin-bottom: 70px;

		&-col1 {
			max-width: 360px;
			margin-right: 15px;

			div {
				margin-bottom: 25px;
			}
			a {
				color: #F8006B;
				font-weight: bold;
			}
		}

		&-col2 {
			max-width: 360px;

			img {
				float: left;
				margin-right: 20px;
			}

			a {
				display: none;
				align-items: center;
				justify-content: center;
				background: #F8006B;
				font-size: 18px;
				font-weight: 900;
				color: #fff;				
				max-width: 200px;
				width: 100%;
				min-height: 60px;
				box-shadow: 0px 7px 22px rgba(0, 0, 0, 0.09);
				margin-bottom: 15px;
			}
		}
	}

	&__descr {
		color: #000051;
		font-size: 21px;
		padding-bottom: 40px;
		margin-bottom: 20px;
		position: relative;
		&::after {
			content: url(../img/@lp/@platform/thanks/line.png);
			position: absolute;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__tel {
		color: #F93F90;
		font-weight: bold;
	}
	&__wish {
		font-weight: bold;
		font-size: 32px;
		text-align: center;
		color: #000051;
	}
	&__container{
		&-text{
			margin: 8px 0;
			font-weight: bold;
			letter-spacing: -0.03em;
			text-align: center;
			color: #000051;
			font-size: 30px;
			@media (max-width: 767px) {
				font-size: 20px;
			}
			&--small{
				font-size: 18px;
				text-align: left;
				margin-top: 20px;
				ul{
					padding-left: 18px;
				}
				@media (max-width: 767px) {
					font-size: 16px;
				}
				a{
					color: #F8006B;
					text-decoration: none;
				}
			}
		}
		hr{
			height: 6px;
			background: #F8006B;
			width: 200px;
			margin: 20px auto;
			border: none;
		}

		&-buttonbox {
			padding: 10px 0 30px 0;
			text-align: center;
		}

		&-button {
			max-width: 300px;
			min-height: 60px;
		}
	}
}

.page-thanks {
	.wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
}