.thanks {
	width: 100%;
	max-width: 1920px;
	padding: 100px 0;
	h1 {
		font-size: 70px;
		line-height: 70px;
		font-weight: 900;
		letter-spacing: -0.03em;
		text-align: center;
		color: #000051;
		span {
			color: #F8006B;
		}
	}


	&__form {
		background:#F3F3F3;
		color: #000051;
		text-align: center;
		padding: 60px;
		max-width: 830px;
		margin:90px auto 0;

		&-title {
			font-weight: 800;
			font-size: 60px;
			line-height: 60px;
			letter-spacing: -0.02em;
			margin-bottom: 41px;
		}
		&-descr {
			font-size: 32px;
			line-height: 40px;
			letter-spacing: -0.02em;
		}

		&-container {
			.form {
				&__items {
					display: block;
					max-width: 600px;
					margin: 60px auto 30px;
				}
				&__item {
					margin-bottom: 31px;
				}
				&__input {
					background: #FFFFFF;
					border: 2px solid #E4E4E4!important;
					border-radius: 5px;
					font-weight: 600;
					font-size: 20px;
					height:70px;
					
				}
				textarea {
					padding-top:20px;
					padding-bottom: 20px;
					height: 250px;
				}

				&__button {
					background: #F8006B;
					border-radius: 5px;
					height: 56px;
					color: #fff;
					font-size: 18px;
				}

				&__footer {
					text-align: left;
					text-transform: none;
					font-size: 12px;
					line-height: 15px;
					&-checkbox {
						background: #fff;
						&-icon {
							filter: invert(100%);
						}
					}
				}
				
			}

			.send-success {
				padding-top: 50px;
				h3 {
					font-weight: bold;
				}
			}
		}
	}

}
