.what-now {
	@media (max-width: 1199px) {
		
		&__img {
			&-small {
				padding-left: 3rem;
			}
		}
		&__text {
			padding: 0;
		}
		.blockquote {
			&__text--1 {
				padding-right: 65px;
			}
		}
	}

	@media (max-width: 991px) {

		&__title {
			margin-bottom: 45px;
			line-height: 100px;
		}
		&__subtitle {
			font-size: 48px;
			line-height: 56px;			
			margin: 50px 0;
		}
		&__text {
			margin-bottom: 80px;
			width: 100%;
		}
		&__content {
			width: 82.7%;
			margin: 80px auto;

			&_bottom {				
				flex-direction: column-reverse;
			}
		}
		&__img {
			width: 82.7%;
			margin-bottom: 50px;

			&-small {
				width: 100%;
				max-width: 400px;
				padding: 0;
				margin: 0 auto;
			}
		}

		.blockquote {
			&__img {
				&--bottom--right {
					max-width: 480px;
					right: -21%;
					bottom: -167px;
				}
			}
		}

	} // 991

	@media (max-width: 767px) {
		.blockquote {
			padding: 0;
			&__text {
				p {margin: 0;}
			}
		}
	}

	@media (max-width: 575px) {
		padding: 76px 0;

		&__title {
			margin-bottom: 26px;
			line-height: 31px;
		}
		&__subtitle {
			font-size: 24px;
			line-height: 30px;			
			margin: 30px 0;			
			br {display: block;}
		}
		&__pretitle {
			font-size: 18px;
		}
		&__text {
			width: 100%;
			margin-bottom: 40px;			
			p {margin-bottom: 1.5rem;}

			&_right {
				margin-bottom: 0;
			}
		}
		&__content {
			width: 90.7%;
			margin: 30px auto;

			&_bottom {margin-bottom: 0;}
		}
		&__img {
			width: 90.7%;
			margin-bottom: 35px;
			&-small {
				width: 85%;
			}
		}

		.blockquote {
			&__img {
				&--bottom--right {
					display: none;
				}
			}
			&__text--1 {
				padding-right: 25px;
			}
		}

	} // 575

}