.online-plf {
	@media (max-width: 991px) {
		padding-top: 70px;

		&__title {
			font-size: 78px;
			line-height: .9;
		}
	} // 991

	@media (max-width: 767px) {
		padding: 40px 0 0px;

		&__title {
			font-size: 45px;
			line-height: 1;
			margin-bottom: 20px;
		}

		&__text {
			font-size: 16px;
			line-height: 22px;
		}

		&__list {
			padding-left: 6px;
			margin-bottom: 20px;
		}

		&__box {
			margin-bottom: 30px;
		}

		&__button {
			position: static;
		}
	} // 767
}
