.price {
	background: #fff;

	.container {
		max-width: 1310px;
	}

	&__bottom {
		position: relative;

	}

	&-header {
		// background: #eee url(../../img/@price/hrforum/price/price_head.png) no-repeat 0 0 /cover;
		text-align: center;
		padding: 56px 0 75px 0;
		margin-top: 97px;

		&__title {
			font-style: normal;
			font-weight: bold;
			font-size: 52px;
			line-height: 60px;
			color: #001B62;
			text-align: left;
			max-width: 745px;
			& BR {
				display: none;
			}
		}

		&__note {
			color: #0c0c0c;
			font-size: 31px;
			line-height: 132%;
			font-weight: 600;
		}
	} // &-header

	&__ticket-wrap {
		background: #fff;
		padding-bottom: 50px;
	}

	&-payment {
		display: block;
		text-align: center;
		text-decoration: none !important;

		&__title {
			flex: 0 0 100%;
			display: flex;
			justify-content: center;
			font-style: normal;
			font-weight: bold;
			font-size: 33px;
			line-height: 60px;
			color: #001B62;
			// margin-top: 60px;
			margin-bottom: 20px;

			@media (max-width: 1220px) {
				flex-direction: column;
				align-items: center;
			}

			@media (max-width: 767px) {
				font-size: 38px;
				text-align: center;
				margin-top: 22px;
			}
		}

		&__note {
			color: #777777;
			font-size: 31px;
			line-height: 132%;
			margin-bottom: 73px;
		}

		&__gift {
			font-size: 26px;
			font-weight: bold;
			line-height: 123%;
			margin-bottom: 65px;
			&-image {
				margin-bottom: 24px;
			}
		}

		&__button {
			max-width: 343px;
			min-height: 59px;
			font-size: 21px;
			font-weight: 800;
			margin-bottom: 40px;
			background: #0057FF;
			box-shadow: 0px 22.1903px 55.4757px rgba(0, 87, 255, 0.5);
			border-radius: 33px;
		}

		&__options {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;

			@media (max-width: 1220px) {
				margin: 0 auto;
			}

			@media (max-width: 767px) {
				margin-top: 22px;
			}

			&-image {
				margin: 5px 7px;
			}
		}


		&__label {
			position: relative;
			display: block;
			padding: 0 0 20px 0;
			margin: 0 32px;
			font-size: 12px;
			line-height: 12px;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: rgba(0, 0, 0, 0.5);
			cursor: pointer;
			margin-bottom: 0;

			span {
				text-decoration: underline;
			}

			&-checkbox {
				position: absolute;
				left: 0;
				top: -2px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 13px;
				height: 13px;
				background: #E3E3E3;
				display: none;

				@media (max-width: 767px) {
					top: 2px;
				}

				input {
					display: none;
				}

				&-icon:before {
					display: none;
					content: url("../../img/price/check.png");

					input:checked + & {
						display: block;
						margin: 0 0 3px 4px;
					}
				}
			}

			&-text {
				padding-left: 25px;

				& span {
					color: rgba(0, 0, 0, 0.5);
				}
			}
		}

	} // &-payment

	&-promo {
		display: flex;
		color: #fff;
		border-radius: 5px;
		background: $blue url('../../img/price/promo/bg.jpg') no-repeat 50% 0 /
		cover;
		padding: 0 60px 0 43px;
		margin: 20px 0;

		&__text {
			display: flex;
			flex-direction: column;
			font-weight: 900;
			letter-spacing: -0.03em;
			padding: 41px 0 35px;
		}

		&__subtitle {
			font-size: 40px;
			line-height: 90.13%;
			margin: auto 0 18px;

			&-part {
				background: linear-gradient(
					0deg,
					rgba(0, 0, 0, 0) 5px,
					#f8006b 5px,
					#f8006b 10px,
					rgba(0, 0, 0, 0) 10px
					);
			}
		}

		&__title {
			font-size: 50px;
			line-height: 90.13%;
			text-transform: uppercase;
			margin: auto 0;
		}

		&__image {
			align-self: flex-end;
			flex: 0 0 auto;
			margin: -29px 0 0 auto;
		}
	} // &-promo

	.payments__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;

		@media (max-width: 991px) {
			justify-content: center;
		}

		.price-card {
			margin: 0 18px;
			width: calc(33.3333% - 36px);
			display: flex;
			flex-direction: column;
			overflow: hidden;
			margin-bottom: 28px;
			transition: none;
			text-decoration: none;
			cursor: pointer;
			background: #fff;
			filter: drop-shadow(0px 3.55625px 21.3375px rgba(70, 32, 223, 0.25));

			&[data-productid=""] {
				display: none !important; // Продукты с пустым ID скрываем, например, на версиях (version=addition)
			}

			/*
			&:nth-child(4),
			&:nth-child(5) {
				width: calc(50% - 36px);
				@media (max-width: 767px) {
					width: calc(100% - 36px;);
				}
			}
			*/
			@media (max-width: 991px) {

				width: calc(50% - 36px);
			}

			@media (max-width: 767px) {

				width: calc(100% - 36px);

				.price-card__list,
				.price-payment__label {
					max-height: 0;
					overflow: hidden;
					position: absolute;
					left: -9999px;
					opacity: 0;
					transition: 0.5s;
				}

				.price-payment__button {
					position: absolute;
					left: -9999px;
				}
			}

			&--opened {

				.price-card__list,
				.price-payment__button {
					max-height: 999px;
					position: static;
					opacity: 1;
				}

				.price-payment__label {
					max-height: 999px;
					position: relative;
					left: auto;
					opacity: 1;
				}

				.price-card__seemore {
					position: absolute;
					left: -9999px;
					opacity: 0;
				}

				.price-card__content {
					@media (max-width: 1199px) {
						padding: 15px 0 10px 0;
					}
				}

				.price-payment__button {
					@media (max-width: 767px) {
						position: relative !important;
						left: 0 !important;
					}
				}
			}


			&__header {
				display: flex;
				justify-content: space-between;
				transition: 0.3s;

				&-name {
					position: relative;
					z-index: 1;
					font-weight: 400;
					font-size: 34px;
					line-height: 110%;
					letter-spacing: -0.02em;
					color: #FFFFFF;
					text-transform: lowercase;
					margin-bottom: 5px;
					padding: 15px 10px 18px 20px;

					&:first-letter {
						text-transform: uppercase;
					}
				}

				&-cost {
					position: relative;
					z-index: 1;
					font-weight: 300;
					font-size: 30px;
					line-height: 110%;
					text-align: right;
					letter-spacing: -0.02em;
					color: #FFF;
					padding: 19px 19px 18px 0;
				}

				& .currency {
					font-size: 16px;
				}

				&-time {font-size: 16px;}

				@media (max-width: 1199px) {

					&-name {
						font-size: 35px;
					}

					&-cost {
						font-size: 22px;
					}

					&:after {
						width: 75px;
						height: 15px;
					}
				}

				@media (max-width: 767px) {

					&-name {
						font-size: 30px;
					}

					&-cost {
						font-size: 22px;
					}
				}
			}

			.price-payment__button {
				margin-bottom: 15px;
				margin-top: auto;
				margin-left: 32px;
				margin-right: 32px;
				width: calc(100% - 64px);
				max-width: 100%;
			}

			&__list {
				display: flex;
				flex-direction: column;
				padding: 15px 32px 35px 32px;

				&-item {

					&:last-child {
						border-bottom: 0;
					}

					&-icon {
						margin: 0 0 10px;
						align-self: flex-start;
					}
				}

				span {
					display: flex;
					flex-direction: column;
					font-size: 15px;
					line-height: 18px;
					color: #000000;
					padding-bottom: 20px;
					border-bottom: 1px solid rgba(0, 67, 187, 0.14);
					padding-top: 20px;

					&.price-card__list-item_cancel {
						color: #777;
						font-size: 13px;
						line-height: (18/13);
					}

					&.price-card__list-item_line {
						flex-direction: row;
						align-items: center;

						img {margin-right: 15px;}

						@media (max-width: 767px) {
							flex-direction: column;
							align-items: flex-start;
						}
					}
				}
			}

			&__seemore {
				transition: 0.3s;
				position: relative;
				z-index: 1;
				background: rgba(0, 0, 0, 0.4);
				font-weight: 600;
				font-size: 18px;
				text-transform: uppercase;
				color: #ffffff;
				line-height: 48px;
				text-align: center;
				margin-top: 12px;
				display: none;				
				cursor: pointer;

				@media (max-width: 767px) {

					display: block;
				}
			}
		}

		#price-econom.price-card--opened {

			.price-card__header:after {
				top: 48%;
			}
		}

		&_1 {

			.price-card {

				&__header {
					position: relative;
					// background: #F4F4F4;

					&:after {
						content: '';
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 10px;
						width: 112px;
						height: 24px;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						transition: 0.3s;
					}

					@media (max-width: 991px) {

						&:after {
							width: 112px;
							height: 24px;
						}
					}

					@media (max-width: 767px) {

						&:after {
							top: 40%;
						}

						&-time {
							display: none;
						}
					}
				}

		/* 		@media (max-width: 767px) {
					&--opened {
						.price-card__header {
							min-height: 135px;
							&:after {
								top: 65% !important;
							}
						}
					}
				} */
			}

			#price-demo {
				display: none !important;
				flex-direction: row;
				width: calc(100% - 36px);
				margin-bottom: 43px;

				.d-none1 {
					display: none;

					@media (max-width: 767px) {

						display: block;
					}
				}

				@media (max-width: 767px) {

					flex-direction: column;
					width: calc(100% - 36px);
					margin-bottom: 28px;
				}

				.price-card__header {
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					width: calc(33.3333% - 24px;);
					min-height: 131px;
					margin-right: 10px;
					background: linear-gradient(93.22deg, #8063F4 0.69%, #7423C6 100%);

					&:after {
						top:0;
						bottom: 0;
						left: 0;
						right: 0;
						width: 100%;
						height: 100%;
						background: url('../../img/price/price-demo.png') no-repeat 50% 50% / cover;

						@media (max-width: 767px) {

							background-image: url('../../img/price/price-icon-1.png');
							background-size: 80% auto;
						}
					}

					&-name {
						padding: 0;
						margin: 0;
					}

					@media (max-width: 767px) {

						width: 100%;
						min-height: auto;
						align-items: stretch;

						&-name {
							padding: 20px 32px;
							text-align: center;
						}
					}
				}

				.price-card__list {
					padding: 7px 15px 0;

					@media (max-width: 767px) {

						align-items: flex-start;
						padding: 15px 32px 35px 32px;
					}

					&-item {
						padding: 10px 0;
						border: 0;

						&-icon {
							flex-shrink: 0;
							align-self: flex-start;
							margin: 5px 20px 0 0;
						}

						&_cancel {
							font-size: 11px;
							line-height: (13/11);
							text-transform: uppercase;
							padding-top: 0;
						}
					}

					@media (max-width: 767px) {

						align-items: flex-start;
						padding: 0 32px;

						&-item {
							padding: 20px 0;
							border-bottom: 1px solid rgba(0, 67, 187, 0.14);

							&-icon {
								display: block;
								margin: 0 0 5px 0;
							}
						}
					}

				}

				.price-payment__button {
					margin-bottom: auto;
					margin-top: auto;
					margin-left: auto;
					margin-right: 23px;
					width: 100%;
					max-width: 284px;

					@media (max-width: 767px) {

						margin-bottom: 15px;
						margin-top: auto;
						margin-left: 32px;
						margin-right: 32px;
						width: calc(100% - 64px);
						max-width: 100%;
					}
				}
			}

			#price-econom {
				display: flex;
				flex-direction: row;
				width: calc(100% - 36px);
				position: relative;
				overflow: visible;
				margin: 70px 18px 100px;

/* 				&:before {
					content: "";
					display: block;
					position: absolute;
					width: calc(100% + 62px);
					height: calc(100% + 54px);
					top: -27px;
					right: -31px;
					border: 1px solid #C5A689;
					z-index: 0;
					background: rgba(200, 171, 145, 0.1);
				} */

/* 				&:after {
					content: "";
					display: block;
					position: absolute;
					width: calc(100% + 48px);
					height: calc(100% + 68px);
					top: -34px;
					right: -24px;
					z-index: 0;
					filter: drop-shadow(0px 3.55625px 21.3375px rgba(70, 32, 223, 0.25));
				} */

				@media (max-width: 1199px) {

					margin: 70px auto 100px;

					&:after {
						width: calc(100% + 12px);
						height: calc(100% + 22px);
						top: -10px;
						right: -6px;
					}

					&:before {
						width: calc(100% + 22px);
						height: calc(100% + 12px);
						top: -6px;
						right: -10px;
					}
				}

				@media (max-width: 767px) {

					flex-direction: column;
					width: calc(100% - 36px);
					margin-bottom: 60px;
				}

				.price-card__header {

					justify-content: center;
					flex-direction: column;
					align-items: center;
					flex-shrink: 0;
					width: calc(33.3333% - 24px;);
					min-height: 220px;
					background: linear-gradient(91.04deg, #00E0FF 0.69%, #00A3FF 100%);
					margin-right: 10px;
					text-align: center;

					&-cost {
						padding: 0;
						margin-top: 20px;
						font-size: 30px;

						span {font-size: 90%;}
					}
					
					&-name {
						text-transform: uppercase;
/* 						font-weight: 700; */
						font-size: 30px;
						padding: 0;
						margin: 0 10px;
					}

/* 					&:after {
						top: 50%;
						position: absolute;
						right: 50%;
						transform: translateX(50%);
						width: 100%;
						max-width: 255px;
						height: 5px;
						background: url(../../img/@price/civilization/price/line-standart.svg) no-repeat center center/cover;

						@media (max-width: 767px) {

							background-size: 100% auto;
							top: 32%;
						}
					} */

					@media (max-width: 991px) {

						&-name {
							font-size: 30px;
						}

						&-cost {
							font-size: 30px;
						}
					}

					@media (max-width: 767px) {

						align-items: stretch;
						width: 100%;
						min-height: 127px;

						&-name {
							align-self: flex-start;
							padding: 15px 10px 18px 20px;
							margin: 0;
						}

						&-cost {
							font-size: 22px;
							align-self: flex-start;
							padding: 0 20px 18px 20px;
							margin: 0;
						}
					}
				}

				.price-card__list {
					width: 60%;
					padding: 15px;
					display: flex;
					align-items: center;
					justify-content: center;

/* 					&:before,
					&:after {
						content: "";
						display: block;
						position: absolute;
						width: 243px;
						height: 27px;
						right: 50%;
						transform: translateX(50%);
						background: url(../../img/@price/civilization/price/standart-before.svg); background-size: cover;
						z-index: 0;
					} */
/* 					&:before {
						top: -61px;
					}
					&:after {
						bottom: -61px;
						background: url(../../img/@price/civilization/price/standart-after.svg); background-size: cover;
					} */

					&-item {
						width: 100%;
						padding: 10px 0;
						border: 0;
/* 						font-family: 'Kis BT', sans-serif; */
						font-size: 15px;
						border-bottom: 1px solid rgba(0, 67, 187, 0.14);
						line-height: 120%;
						color: #000000;
						display: none;

						&_line {
						}

						&-icon {
							flex-shrink: 0;
							align-self: flex-start;
							margin: 5px 20px 0 0;
						}
					}
					@media (max-width: 1199px) {
/* 						font-size: 36px;
						line-height: 100%; */
						align-items: flex-start;
						width: 100%;
						&:before {
							top: -36px;
						}
						&:after {
							bottom: -38px;
						}
					}
					@media (max-width: 991px) {
						&-item {
/* 							font-size: 34px; */
						}
					}
					@media (max-width: 767px) {
						align-items: flex-start;
						padding: 15px 32px 35px 32px;
						opacity: 1;
						&-item {
							padding: 20px 0;
							border-bottom: 1px solid rgba(0, 67, 187, 0.14);
							&-icon {
								display: block;
								margin: 0 0 5px 0;
							}
						}
					}
				}

				.price-payment__button {
					margin-bottom: auto;
					margin-top: auto;
					margin-left: auto;
					margin-right: 23px;
					width: 45%;
					max-width: 284px;
					position: relative;
					font-size: 0;

					&:before {
						content: 'Оплатить';
						display: inline-flex;
						font-size: 21px;
						font-weight: 800;
						letter-spacing: 0.06em;	
					}

					@media (max-width: 991px) {
						&:before {
/* 							font-size: 18px; */
						}
					}

					@media (max-width: 767px) {
						margin-bottom: 20px;
						margin-top: auto;
						margin-left: 32px;
						margin-right: 32px;
						width: calc(100% - 64px);
						max-width: 100%;
						position: absolute;

						&:before {
/* 							font-size: 29px; */
						}
					}
				}

				.price-payment__label {
					width: 100%;
					margin: 7px 0 0 15px;

					@media (max-width: 767px) {
						width: auto;
						margin: 0 32px;
					}
				}
			}

			#price-standard {

				.price-card__header {
					background: linear-gradient(91.04deg, #00E0FF 0.69%, #00A3FF 100%);
					&:after {display: none;}
				}
			}
			#price-business {
				.price-card__header {
					background: linear-gradient(91.04deg, #00A3FF 0.69%, #0085FF 100%);
					&:after {display: none;}
				}
			}
			#price-vip {
				.price-card__header {
					background: linear-gradient(91.04deg, #0047FF 0.69%, #0085FF 100%);
					&:after {display: none;}
				}
			}
			#price-silver {
				.price-card__header {
					background: linear-gradient(91.04deg, #001AFF 0.69%, #0066FF 100%);
					&:after {display: none;}
				}
			}
			#price-gold {
				.price-card__header {
					background: linear-gradient(91.04deg, #3300FF 0.69%, #4200FF 100%);
					&:after {display: none;}
				}
			}
			#price-platinum {
				.price-card__header {
					background: linear-gradient(91.04deg, #6100FF 0.69%, #4200FF 100%);
					&:after {display: none;}
				}
			}

		}

		&_2 {
			.price-card {

				&__header {
					border-bottom: 1px solid rgba(0, 67, 187, 0.14);

					&-name {
						position: relative;
						color: #1A1E70;

						&:after {
							content: '';
							position: absolute;
							top: 29px;
							right: 13px;
							width: 54px;
							height: 32px;
							background: url(../../img/price/price_icons.png) no-repeat;
						}
					}
					&-cost {
						color: #1A1E70;
					}
				}
			}

			#price-bachelor {
				.price-card__header-name:after {
					background-position: 0 0;
				}
			}
			#price-magister {
				.price-card__header-name:after {
					background-position: 0 -35px;
				}
			}
			#price-postgraduate {
				.price-card__header-name:after {
					background-position: 0 -70px;
				}
			}

		}


		&_3 {
			margin-bottom: 20px;

			.price-card {

				&__header {
					position: relative;
					min-height: 127px;
					background: #000051;

					&:after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						width: 187px;
						height: 127px;
						background-repeat: no-repeat;
						background-position: 50% 50%;
					}
				}
			}

			#price-ready {

				.price-card__header {

					&:after {background-image: url(../../img/price/language-icon-1.png);}
				}
			}
			#price-steady {

				.price-card__header {

					&:after {background-image: url(../../img/price/language-icon-2.png);}
				}
			}
			#price-run {

				.price-card__header {

					&:after {background-image: url(../../img/price/language-icon-3.png);}
				}
			}
		}
	} // .payments__wrapper

	&-base {
		color: #fff;
		font-size: 26px;
		font-weight: 600;
		line-height: 119%;
		border-radius: 10px;
		background: $blue url('../../img/price/base/bg.jpg') no-repeat 50% 0 /
		cover;
		box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.16);
		padding: 63px 84px 77px;
		margin-bottom: 24px;
		&__right {
			padding-left: 13%;
		}
		&__title {
			font-size: 70px;
			font-weight: 900;
			line-height: 90.13%;
			letter-spacing: -0.03em;
			margin-bottom: 89px;
		}
		&__logo {
			margin: 10px 0 0;
		}
		&__subtitle {
			font-size: 38px;
			font-weight: bold;
			line-height: 92%;
			margin-bottom: 9px;
		}
	} // &-base

	&-sbs {
		color: #fff;
		font-size: 25px;
		line-height: 140%;
		border-radius: 10px;
		background: $blue url('../../img/price/sbs/bg.jpg') no-repeat 0% 0 / cover;
		padding: 60px 84px 51px;
		margin-bottom: 24px;
		&__title {
			font-size: 70px;
			font-weight: 900;
			line-height: 90.13%;
			letter-spacing: -0.03em;
			margin-bottom: 14px;
		}
		&__text {
			max-width: 580px;
			font-weight: 600;
			&_1 {
				margin-bottom: 11px;
			}
			&_2 {
				color: #b7b6ff;
				margin-bottom: 32px;
			}
		}
	} // &-sbs

	&-crm {
		font-size: 25px;
		font-weight: 600;
		line-height: 140%;
		color: #fff;
		border-radius: 10px;
		background: #073068 url('../../img/price/crm/bg.jpg') no-repeat 50% 0 / cover;
		box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.16);
		padding: 73px 84px 85px;
		margin-bottom: 24px;
		&__title {
			font-size: 70px;
			font-weight: 900;
			line-height: 90.13%;
			letter-spacing: -0.03em;
			margin-bottom: 37px;
		}
		&__text {
			max-width: 975px;
			margin-bottom: 51px;
		}

	} // &-crm

	.main-price {
		margin-top: 0;
	}

	&-lang {
		position: relative;
		padding: 57px 84px 50px 84px;
		background: #000041 url(../../img/price/lang/bg.jpg) no-repeat 50% 0;
		background-size: cover;
		border-radius: 10px;
		color: #fff;
		margin-bottom: 24px;

		&__title {
			font-weight: 900;
			font-size: 70px;
			line-height: 90.13%;
			letter-spacing: -0.03em;
			margin-bottom: 25px;
		}

		&__description {
			max-width: 1080px;
			font-weight: 600;
			font-size: 25px;
			line-height: 35px;
			margin-bottom: 40px;
		}

		&__bar {
			display: flex;
			justify-content: space-between;
			width: 90%;
		}

		&__subtitle {
			width: 330px;
			font-weight: 900;
			font-size: 50px;
			line-height: 90.13%;
			letter-spacing: -0.03em;
			color: #6F6FFF;

			&-inner {max-width: 200px;}
		}

		&__list {
			display: flex;
			justify-content: space-between;
			flex-grow: 1;
			padding: 0;
			margin: 0;
		}

		&__item {
			list-style: none;
			font-weight: 900;
			font-size: 30px;
			line-height: 100%;
			letter-spacing: -0.03em;
			text-align: center;

			&-part {
				display: block;
				font-size: 20px;
			}

			&:before {
				content:'';
				display: block;
				width: 99px;
				height: 107px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				margin: 0 auto 4px auto;
			}

			&_1:before {background-image: url(../../img/price/lang/icon1.png);}
			&_2:before {background-image: url(../../img/price/lang/icon2.png);}
			&_3:before {background-image: url(../../img/price/lang/icon3.png);}
		}
	}

	&-university {
		background: url(../../img/price/university/bg.jpg) no-repeat 50% 0 / cover;
		padding: 69px 84px 87px 84px;
		border-radius: 10px;
		color: #fff;
		margin-bottom: 24px;

		&__title {
			font-weight: 900;
			font-size: 70px;
			line-height: 90.13%;
			letter-spacing: -0.03em;
			margin-bottom: 20px;
		}

		&__description {
			max-width: 1030px;
			font-weight: 600;
			font-size: 25px;
			line-height: 140%;
			margin-bottom: 45px;
		}

		&__bar {
			display: flex;
			justify-content: space-between;
			width: 98%;
		}

		&__logo {
			width: 330px;
		}

		&__box {
			display: flex;
			justify-content: space-between;
			flex-grow: 1;
		}

		&__item {
			max-width: 260px;

			&-number {
				font-weight: 900;
				font-size: 50px;
				line-height: 100%;
				letter-spacing: -0.03em;
			}

			&-text {
				font-weight: 600;
				font-size: 18px;
				line-height: 111%;
			}
		}
	} // &-university

	&-faq {
		padding: 80px 0 60px;
		font-size: 70px;
		line-height: 90%;

		&__title {
			margin-bottom: 40px;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			font-size: 54px;
			line-height: 110%;
			letter-spacing: -0.02em;
			color: #000;
		}

		&__item {
			border-top: 1px solid #BABABA;
			position: relative;
			cursor: pointer;
			color: #333;

			&:last-child {
				border-bottom: 1px solid #BABABA;
			}

			&-top {
				padding: 25px 70px 25px 10px;
				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				font-size: 24px;
				line-height: 133% ;

				&::after {
					content: '';
					position: absolute;
					right: 20px;
					width: 22px;
					height: 22px;
					background: url(../../img/@price/hrforum/price/plus.png) no-repeat 0 0;
				}
			}

			&-bottom {
				display: none;
				padding: 0 70px 40px 0;
				font-size: 16px;
				line-height: 150%;

				& P {
					margin-bottom: 0.5rem;
				}
			}

			&.active & {
				&-top {
					&::after {
						background-position: -25px 0;
					}
				}
			}
		}

	} // &-faq

	&-footer {
		font-size: 14px;
		text-transform: uppercase;
		padding: 0 0 20px;
		a {
			text-decoration: underline;
		}
	}

}

.payment-button {
	width: auto;
	min-width: 0;
	min-height: 80px;
	display: none;
	position: fixed;
	bottom: 0;
	left: 15px;
	right: 15px;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	border: 1px solid #CFAA71;
	background: #1D1E22;
    color: #FFEDD8;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	z-index: 2;
	&:hover {
		text-decoration: none;
	}
	&.visible {
		display: flex;
	}
}


// Версии //
.version-no-econom { // Убираем категорию эконом из версии
	.price {
		.payments__wrapper {
			&_1 {
				#price-econom {
					display: none !important;
				}
			}
		}
	}
}

.lang-en, .external-url-platform.lang-en {
	#price-demo,
	#price-econom,
	#price-silver,
	#price-gold,
	#price-platinum,
	.payments__wrapper_2,
	.payments__wrapper_3 {
		display: none !important;
	}
}

.lang-en .price-card-option-access-genesis {
	display: none !important;

}


.thanksExternal{
	position: relative;
	color: #FFF;
	background: #190543 url('../../img/price/bg-thanksExternal.jpg') no-repeat center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 66px;
	padding: 60px 0;
	text-align: center;
	&__container{

	}
	&__title{
		span{
			color: #F8006B;
		}
		h1{
			font-family: 'Proxima Nova Cn';
			font-weight: 900;
			font-size: 61.8448px;
			line-height: 57px;
			letter-spacing: -0.015em;
			text-transform: uppercase;
			color: #fff;
			margin: 0;
			@media (max-width: 991px) {
				font-size: 40px;
				line-height: 37px;
			}
		}
		p{
			font-weight: 600;
			font-size: 23.4211px;
			line-height: 30px;
			letter-spacing: -0.015em;
			color: #FFFFFF;
			display: block;
			margin: 20px 0;
			@media (max-width: 767px) {
				font-size: 15px;
				line-height: 19px;
			}
		}
		h2{
			font-family: 'Proxima Nova Cn';
			font-weight: 900;
			font-size: 41px;
			line-height: 38px;
			letter-spacing: -0.015em;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 0;
			@media (max-width: 991px) {
				font-size: 20px;
				line-height: 23px;
			}
		}
	}
}