<?php
{% set data = [

	{
		id: 'chernyak',
		name: 'Евгений Черняк',
		note: 'Бизнесмен из&nbsp;топ-100&nbsp;Forbes, автор популярного обучающего бизнес-канала на&nbsp;YouTube&nbsp;&mdash; Big Money',
		logo: 'big_money',
		info: '
		<ul>
			<li>Бизнесмен из&nbsp;топ-100&nbsp;Forbes.</li>
			<li>Основатель холдинга Global Spirits (топ-10 в&nbsp;США). Экспортирует продукцию в&nbsp;87&nbsp;стран мира. Его флагманский бренд &laquo;Хортица&raquo; входит в&nbsp;топ-3 по&nbsp;объемам продаж в&nbsp;мире.</li>
			<li>Автор популярного обучающего бизнес-канала на&nbsp;YouTube Big Money&nbsp;&mdash; более 30&nbsp;млн просмотров за&nbsp;2&nbsp;года.</li>
			<li>Автор книги &laquo;Big Money. Принципы первых&raquo;, написанной на&nbsp;основе интервью с&nbsp;известными предпринимателями.</li>
		</ul>
		'
	}
	,
	{
		id: 'kuchment',
		name: 'Михаил Кучмент',
		note: 'Сооснователь сети гипермаркетов Hoff, &laquo;Предприниматель года 2017&raquo; по&nbsp;версии&nbsp;EY в&nbsp;России',
		logo: 'hoff',
		info: '
		<ul>
			<li>Сооснователь сети гипермаркетов мебели и&nbsp;товаров для дома Hoff, выручка которой превышает 26&nbsp;млрд рублей в&nbsp;год.</li>
			<li>Совладелец и&nbsp;председатель наблюдательного совета &laquo;Совкомбанка&raquo;, член наблюдательного совета X5&nbsp;Retail Group.</li>
			<li>&laquo;Предприниматель года 2017&raquo; по&nbsp;версии EY.</li>
			<li>Экс-коммерческий директор и&nbsp;член совета директоров &laquo;М.Видео&raquo;.</li>
			<li>Ранее работал в&nbsp;Samsung Electronics, пройдя путь от&nbsp;ассистента менеджера отдела бытовой электроники до&nbsp;руководителя направления со&nbsp;званием &laquo;Менеджер года&raquo;.</li>
		</ul>
		'
	}
	,
	{
		id: 'otb',
		name: 'Ростислав <br>Ордовский-Танаевский Бланко',
		note: 'Основатель ресторанного холдинга &laquo;Росинтер&raquo;, председатель совета директоров',
		logo: 'rosinter',
		info: '
		<ul>
			<li>Председатель совета директоров и&nbsp;основной акционер-бенефициар холдинга &laquo;Росинтер&raquo;&nbsp;&mdash; оператора крупнейшей в&nbsp;России сети ресторанов.</li>
			<li>Основатель компаний Rostik International CA, Video Express и&nbsp;Bradly в&nbsp;Венесуэле.</li>
			<li>Один из&nbsp;основателей Федерации рестораторов и&nbsp;отельеров России, действующий член общественной организации &laquo;Деловая Россия&raquo;.</li>
		</ul>
		'
	}
	,
	{
		id: 'hartman',
		name: 'Оскар Хартманн',
		note: 'Владелец Hartmann Holdings, основатель компаний CarРrice, Aktivo, KupiVIP',
		logo: 'kupivip',
		info: '
		<ul>
			<li>Владелец Hartmann Holdings, признанный эксперт в&nbsp;области e-commerce и&nbsp;краудфандинга, запустил более 20&nbsp;проектов, в&nbsp;числе которых Teamo, CarPrice Group, Relevant Media, ZaOdno, Aktivo, Vitaportal, Autospot, IQcard, Hlebnoe Mesto, Factorymarket.</li>
			<li>В&nbsp;2008 году основал онлайн шопинг-клуб KupiVip. Сейчас на&nbsp;сайте зарегистрировано 17&nbsp;млн пользователей, а&nbsp;выручка магазина составляет 18&nbsp;млрд рублей в&nbsp;год.</li>
			<li>Сооснователь фондов Fastlane Ventures, Simile Ventures Partners и&nbsp;Larix.vc. Портфель венчурных инвестиций насчитывает более 70&nbsp;компаний по&nbsp;всему миру, пять из&nbsp;них достигли капитализации более миллиарда долларов.</li>
		</ul>
		'
	}
	,
	{
		id: 'gandapas',
		name: 'Радислав Гандапас',
		note: 'Президент Ассоциации спикеров СНГ',
		logo: 'gandapas',
		info: '
		<ul>
			<li>Самый титулованный бизнес-тренер России, единственный в&nbsp;стране трижды был признан лучшим в&nbsp;профессии.</li>
			<li>Основал шестнадцать компаний, девять из&nbsp;которых существуют до&nbsp;сих пор.</li>
			<li>Проводит не&nbsp;менее 100 тренингов и&nbsp;семинаров в&nbsp;год по&nbsp;всей России, странам СНГ, Средней Азии и&nbsp;Балтии.</li>
			<li>Консультант топ-менеджеров крупнейших компаний России и&nbsp;СНГ, а&nbsp;также депутатов Государственной Думы РФ. Подготовил десятки корпоративных конференций и&nbsp;Road-Show.</li>
		</ul>
		'
	}
	,
	{
		id: 'belfort',
		name: 'Джордан Белфорт',
		note: 'Эксперт по&nbsp;продажам, настоящий &laquo;Волк с&nbsp;Уолл Стрит&raquo;',
		logo: 'belfort',
		info: '
		<ul>
			<li>Бизнес-тренер и&nbsp;консультант, автор Straight Line Selling System&nbsp;&mdash; пошаговой системы продаж. Среди его клиентов&nbsp;&mdash; крупные компании из&nbsp;списка Fortune 500, включая Virgin Group Ричарда Брэнсона.</li>
			<li>В&nbsp;1990-х Белфорт основал одну из&nbsp;самых успешных торговых компаний в&nbsp;истории Уолл-стрит, заработав на&nbsp;ней более 1,5 млрд долларов. </li>
			<li>История его жизни легла в&nbsp;основу знаменитого фильма Мартина Скорсезе &laquo;Волк с&nbsp;Уолл-стрит&raquo;, главную роль в&nbsp;котором сыграл Леонардо Ди&nbsp;Каприо. </li>
			<li>Книги Белфорта &laquo;Волк c&nbsp;Уолл-стрит&raquo; и&nbsp;&laquo;Ловля Волка c&nbsp;Уолл-стрит&raquo; были опубликованы в&nbsp;40&nbsp;странах и&nbsp;переведены на&nbsp;18&nbsp;языков.</li>
		</ul>
		'
	}
	,
	{
		id: 'fraizer',
		name: 'Роланд Фрейзер',
		note: 'Генеральный директор War Room Mastermind, главный идеолог Traffic&amp;Conversion Summit',
		logo: 'traffic-conversion',
		info: '
		<ul>
			<li>Соучредитель и&nbsp;руководитель пяти наиболее быстро растущих компаний в&nbsp;области электронной коммерции, электронного обучения, недвижимости и&nbsp;облачных услуг по&nbsp;программному обеспечению.</li>
			<li>Серийный предприниматель, который основал, развил или продал более двух десятков предприятий в&nbsp;различных сферах: от&nbsp;торговли потребительскими товарами до&nbsp;производственных компаний с&nbsp;объемом продаж до&nbsp;4&nbsp;миллиардов долларов.</li>
			<li>Профинансировал более 100 частных и&nbsp;публичных предложений, управлял международным хедж-фондом и&nbsp;консультировал крупные бренды (от&nbsp;PepsiCo до&nbsp;Uber) по&nbsp;различным вопросам бизнеса.</li>
		</ul>
		'
	}
	,
	{
		id: 'tadev',
		name: 'Максим Тадевосян',
		note: 'Управляющий директор Rambler&amp;Co',
		logo: 'rambler',
		info: '
		<ul>
			<li>С&nbsp;июня 2019 года&nbsp;&mdash; управляющий директор Rambler&amp;Co, ранее занимал пост первого заместителя директора.</li>
			<li>С&nbsp;2011 по&nbsp;2014 год был генеральным директором агентства Progression. За&nbsp;этот период оборот компании вырос более чем в&nbsp;два раза.</li>
			<li>Ранее работал в&nbsp;агентстве MediaCom (WPP, GroupM), отвечая за&nbsp;развитие бизнеса и&nbsp;работу с&nbsp;ключевыми клиентами.</li>
		</ul>
		'
	}
	,
	{
		id: 'perekalskyi',
		name: 'Дэнни Перекальски',
		note: 'СEO компании &laquo;Утконос&raquo;',
		logo: 'utkonos',
		info: '
		<ul>
			<li>СЕО &laquo;Утконос&raquo;&nbsp;&mdash; лидирующей e-grocery компании в&nbsp;России. Основатель ShakeUp.</li>
			<li>Известен как реформатор бизнеса: преобразовал сеть продуктовых магазинов &laquo;Дикси&raquo; в&nbsp;успешный, клиентоориентированный бизнес, а&nbsp;OZON.ru&nbsp;&mdash; в&nbsp;лидирующий мультикатегорийный онлайн-магазин с&nbsp;ассортиментом более 5&nbsp;млн товаров.</li>
			<li>Имеет 25&nbsp;лет опыта управления бизнесом в&nbsp;18&nbsp;компаниях в&nbsp;22&nbsp;странах, опыт консалтинга более чем для 100 мировых брендов, включая Walmart, Carrefour, Tesco, Nestle, Unilever и&nbsp;др.</li>
			<li>Автор бестселлера бизнес-книги &laquo;Идём вперёд. Бизнес&nbsp;&mdash; это страсть&raquo;.</li>
		</ul>
		'
	}
	,
	{
		id: 'pintosevich',
		name: 'Ицхак Пинтосевич',
		note: 'Эксперт в&nbsp;Системном развитии Личности',
		logo: 'pintocevich',
		info: '
		<ul>
			<li>Один из&nbsp;лучших в&nbsp;мире бизнес-тренеров и&nbsp;экспертов по&nbsp;мотивации на&nbsp;сверхдостижения. Совладелец пяти образовательных компаний. Обучил и&nbsp;сертифицировал более 5000 бизнес-тренеров и&nbsp;коучей.</li>
			<li>Его тренинги посетили более 64&nbsp;000 человек из&nbsp;27&nbsp;стран мира. Среди клиентов&nbsp;&mdash; Procter &amp;&nbsp;Gamble, Master Card, Deloitte и&nbsp;многие другие.</li>
			<li>Почетный профессор Школы бизнеса &laquo;Синергия&raquo;.</li>
			<li>Автор системы гармоничного развития человека &laquo;5&nbsp;сфер&raquo; и&nbsp;одноименного портала 5sfer.com, который посещают более 3&nbsp;млн человек в&nbsp;год.</li>
		</ul>
		'
	}
	,
	{
		id: 'tschohl',
		name: 'Джон Шоул',
		note: 'Американский специалист в&nbsp;области культуры сервиса, автор книг и&nbsp;обучающих программ, мотивационный спикер, бизнесмен',
		logo: 'sqi',
		info: '
		<ul>
			<li>Обладатель звания Customer Service Guru от&nbsp;авторитетного издания Time.</li>
			<li>Основатель Service Quality Institute, где прошли обучение более двух миллионов специалистов по&nbsp;всему миру.</li>
			<li>Автор 7&nbsp;бестселлеров и&nbsp;первой в&nbsp;мире программы обучения сервису.</li>
			<li>Имеет более 40&nbsp;лет успешного опыта работы по&nbsp;внедрению стратегии сервиса в&nbsp;компаниях по&nbsp;всему миру.</li>
		</ul>
		'
	}
	,
	{
		id: 'byardinceva',
		name: 'Яна Бардинцева',
		note: 'Генеральный директор ОККО',
		logo: 'okko',
		info: '
		<ul>
			<li>Генеральный директор мультимедийного сервиса Okko.</li>
			<li>Ранее занимала пост директора по&nbsp;маркетингу и&nbsp;развитию бизнеса Rambler Group.</li>
			<li>Обладает 15-летним опытом управленческой работы, возглавляла департамент развития отношений с&nbsp;клиентами и&nbsp;вторичных продаж Сбербанка, направление маркетинга в&nbsp;&laquo;МТС&raquo;, была коммерческим директором &laquo;Связного Банка&raquo;.</li>
		</ul>
		'
	}
	,
	{
		id: 'metz',
		name: 'Ольга Мец',
		note: 'Директор по&nbsp;маркетингу и&nbsp;PR компании HeadHunter',
		logo: 'hh',
		info: '
		<ul>
			<li>С&nbsp;2010 года&nbsp;&mdash; директор по&nbsp;маркетингу и&nbsp;PR компании HeadHunter. Под ее&nbsp;управлением команда маркетинга HeadHunter завоевала лидирующие позиции в&nbsp;привлечении пользовательского трафика, узнаваемости бренда и&nbsp;взаимодействия с&nbsp;клиентами. </li>
			<li>Ранее работала руководителем отдела маркетинга в&nbsp;Adobe Systems Inc., Россия и&nbsp;СНГ.</li>
			<li>В&nbsp;2013 и&nbsp;2019 годах возглавила список лучших российских директоров по&nbsp;маркетингу в&nbsp;рейтинге топ-1000 менеджеров России по&nbsp;версии Ассоциации менеджеров России и&nbsp;газеты &laquo;Коммерсантъ&raquo;.</li>
		</ul>
		'
	}
	,
	{
		id: 'polzikov',
		name: 'Максим Ползиков',
		note: 'Партнер и&nbsp;СЕО Ginza Project Moscow',
		logo: 'gp',
		info: '
		<ul>
			<li>Управляет Ginza Project Moscow, в&nbsp;фокусе внимания&nbsp;&mdash; все московские и&nbsp;часть региональных проектов группы.</li>
			<li>Основатель и&nbsp;партнер ресторана &laquo;Рыбторг&raquo;&nbsp;&mdash; одного из&nbsp;самых успешных проектов Ginza Project в&nbsp;Москве. На&nbsp;протяжении двух лет &laquo;Рыбторг&raquo; уверенно занимает высокие позиции в&nbsp;рейтингах лучших ресторанов столицы.</li>
			<li>Имеет более 20&nbsp;лет опыта корпоративного управления в&nbsp;таких компаниях, как &laquo;МИГ&raquo;, &laquo;НТВ Плюс&raquo;, &laquo;АКАДО&raquo;, &laquo;РИА Новости&raquo; и&nbsp;др.</li>
		</ul>
		'
	}
	,
	{
		id: 'man',
		name: 'Игорь Манн',
		note: 'Эксперт по&nbsp;маркетингу, сооснователь издательства &laquo;Манн, Иванов и&nbsp;Фербер&raquo;',
		logo: 'mann',
		info: '
		<ul>
			<li>Один из&nbsp;самых известных маркетологов России, бизнес-спикер, коуч и&nbsp;консультант.</li>
			<li>По&nbsp;итогам опроса Гильдии маркетологов в&nbsp;2008 году стал обладателем высших наград в&nbsp;трех номинациях&nbsp;&mdash; самый известный консультант по&nbsp;маркетингу, представитель лучшего делового издательства &laquo;Манн, Иванов, Фербер&raquo;, автор самой полезной книги по&nbsp;маркетингу.</li>
			<li>Автор бизнес-бестселлеров &laquo;Маркетинг на&nbsp;100%: как стать хорошим менеджером по&nbsp;маркетингу&raquo;, &laquo;Без бюджета&raquo;, &laquo;Точки контакта&raquo;, &laquo;Номер&nbsp;1: как стать лучшим в&nbsp;том, что ты&nbsp;делаешь&raquo; и&nbsp;многих других.</li>
			<li>Среди его клиентов: Ciba-Geigy, &laquo;Фавор&raquo; (импортер Konica Corporation), Lucent Technologies, Alcatel, МИАН.</li>
		</ul>
		'
	}
	,
	{
		id: 'vasilchuk',
		name: 'Алексей Васильчук',
		note: 'Сооснователь &laquo;Чайхоны &#8470;&nbsp;1&raquo;, ресторанного холдинга RESTart Vasilchuk Brothers',
		logo: 'chaikhona',
		info: '
		<ul>
			<li>Профессионал сферы HoReCa.</li>
			<li>Совладелец холдинга RESTart Vasilchuk Brothers, в&nbsp;который входят &laquo;Чайхона &#8470;&nbsp;1&raquo;, &laquo;Депо. Москва&raquo; и&nbsp;самый высокий ресторанный комплекс в&nbsp;Европе&nbsp;&mdash; 354 Exclusive Height (Ruski, &laquo;На&nbsp;свежем воздухе&raquo;, Birds). </li>
			<li>Специализация: ресторанный бизнес и&nbsp;&laquo;человечная&raquo; HR-концепция.</li>
		</ul>
		'
	}
	,
	{
		id: 'mitrovich',
		name: 'Юлия Митрович',
		note: 'Совладелица Novikov School',
		logo: 'novikov'
	}
	,
	{
		id: 'kolmogorov',
		name: 'Андрей Колмогоров',
		note: 'Основатель бренда Суши Маркет',
		logo: 'sushi'
	}
	,
	{
		id: 'rigikov',
		name: 'Сергей Рыжиков',
		note: 'Cооснователь компаний &laquo;Битрикс&raquo; и&nbsp;&laquo;1С-Битрикс&raquo;',
		logo: '1c'
	}
	,
	{
		id: 'fedorov',
		name: 'Алексей Федоров',
		note: 'Совладелец и&nbsp;управляющий партнер группы компаний &laquo;220&nbsp;вольт&raquo;',
		logo: '220v'
	}
	,
	{
		id: 'basha',
		name: 'Олег Баша',
		note: 'Генеральный директор GetResponse в&nbsp;России',
		logo: 'getresponse'
	}
	,
	{
		id: 'spiridonov',
		name: 'Максим Спиридонов',
		note: 'Генеральный директор образовательного холдинга &laquo;Нетология-групп&raquo;',
		logo: 'netologiya'
	}
	,
	{
		id: 'belonoshenko',
		name: 'Юрий Белонощенко',
		note: 'Основатель и&nbsp;стратег сети детских центров развития &laquo;Бэби-клуб&raquo;',
		logo: 'babyclub'
	}
	,
	{
		id: 'kalaev',
		name: 'Дмитрий Калаев',
		note: 'Директор Акселератора ФРИИ',
		logo: 'free'
	}
	,
	{
		id: 'talashkina',
		name: 'Татьяна Талашкина',
		note: 'Основатель сети клиник немецких медицинских технологий GMTClinic',
		logo: 'gtmclinic'
	}
	,
	{
		id: 'dyakonov',
		name: 'Борис Дьяконов',
		note: 'Со-основатель и&nbsp;президент банк Точка, со-основатель ряда других бизнесов',
		logo: 'point'
	}
	,
	{
		id: 'gavrilov',
		name: 'Герман Гаврилов',
		note: 'Основатель сервиса аналитики Roistat',
		logo: 'roistat'
	}
	,
	{
		id: 'kasheev',
		name: 'Глеб Кащеев',
		note: 'Директор Московского офиса Sendsay',
		logo: 'sendsay'
	}
	,
	{
		id: 'rakova',
		name: 'Юлия Ракова',
		note: 'Директор по&nbsp;маркетингу GetResponse Россия',
		logo: 'getresponse'
	}
	,
	{
		id: 'avetov',
		name: 'Григорий Аветов',
		note: 'Ректор Школы Бизнеса &laquo;Синергия&raquo;',
		logo: 'shb'
	}
	,
	{
		id: 'grishenko',
		name: 'Ольга Грищенко',
		note: 'Основатель компании по&nbsp;разработке бизнес-игр F5GAME.RU',
		logo: ''
	}
	,
	{
		id: 'orlovskyi',
		name: 'Виктор Орловский',
		note: 'Руководитель венчурного фонда &laquo;Сбербанк&raquo; Fort Ross Ventures',
		logo: 'firstross'
	}
	,
	{
		id: 'markov',
		name: 'Владимир Марков',
		note: 'Генеральный директор Производственного комплекса ТЕХНОНИКОЛЬ',
		logo: 'technonikol'
	}
	,
	{
		id: 'arut',
		name: 'Рубен Арутюнян',
		note: 'Основатель и&nbsp;СЕО Henderson',
		logo: 'henderson'
	}
	,
	{
		id: 'shahova',
		name: 'Мария Шахова',
		note: 'основатель и&nbsp;директор коммуникационного агентства &laquo;PR-агентство Марии Шаховой&raquo;',
		logo: 'mshahova'
	}
	,
	{
		id: 'yurkov',
		name: 'Дмитрий Юрков',
		note: 'Генеральный директор Synergy Digital, директор по&nbsp;маркетингу Университета &laquo;Синергия&raquo;',
		logo: ''
	}
	,
	{
		id: 'kukushkin',
		name: 'Марк Кукушкин',
		note: 'Эксперт по&nbsp;развитию лидерства и&nbsp;корпоративной культуры',
		logo: ''
	}
	,
	{
		id: 'jhonston',
		name: 'Гарретт Джонстон',
		note: 'Основатель и&nbsp;генеральный директор консалтинговой компании Macroscope Consulting',
		logo: 'macroscope'
	}
	,
	{
		id: 'arkhangelskyi',
		name: 'Глеб Архангельский',
		note: 'Предприниматель, основатель и&nbsp;генеральный директор консалтинговой компании &laquo;Организация времени&raquo;, создатель Тайм-менеджерского сообщества',
		logo: ''
	}
	,
	{
		id: 'kunin',
		name: 'Соломон Кунин',
		note: 'Генеральный директор маркетплейса goods.ru' ,
		logo: 'goods'
	}
	,
	{
		id: 'petersyl',
		name: 'Гил Петерсил',
		note: 'Основатель MeetPartners, ведущий эксперт по&nbsp;нетворкингу в&nbsp;России',
		logo: ''
	}
	,
	{
		id: 'geraskov',
		name: 'Сергей Гераськов',
		note: 'Эксперт по&nbsp;лидогенерации из&nbsp;мессенджеров, официальный партнёр WhatsApp',
		logo: ''
	}
	,
	{
		id: 'drytko',
		name: 'Владислава Друтько',
		note: 'Нейропсихолог, сертифицированный мастер-тренер, специалист по&nbsp;управлению персоналом',
		logo: ''
	}
	,
	{
		id: 'muslimov',
		name: 'Муслим Муслимов',
		note: 'Владелец сети многопрофильных медицинских центров &laquo;Клиника &#8470;&nbsp;1&raquo;',
		logo: ''
	}
	,
	{
		id: 'panin',
		name: 'Олег Панин',
		note: 'Генеральный директор Center-Game. Со-основатель Prepack',
		logo: ''
	}
	,
	{
		id: 'ukolova',
		name: 'Екатерина Уколова',
		note: 'Основатель компании Oy-li, автор 5&nbsp;книг по&nbsp;продажам, спикер международных форумов',
		logo: ''
	}
	,
	{
		id: 'drozd',
		name: 'Григорий Дрозд',
		note: 'Заслуженный мастер спорта, чемпион мира по&nbsp;боксу, член Общественной палаты РФ',
		logo: ''
	}
	,
	{
		id: 'kazantzev',
		name: 'Максим Казанцев',
		note: 'Основатель федеральной сети батутных клубов Cosmica',
		logo: ''
	}
	,
	{
		id: 'haybaev',
		name: 'Махач Хайбаев',
		note: 'Основатель мастерской обуви Migliori',
		logo: ''
	}
	,
	{
		id: 'gorodetskyi',
		name: 'Александр Городецкий',
		note: 'Бизнес-спикер, лауреат инновационных конкурсов &laquo;Конкурс Русских Инноваций&raquo; журнала &laquo;Эксперт&raquo;',
		logo: ''
	}
	,
	{
		id: 'vlasov',
		name: 'Кирилл Власов',
		note: 'Генеральный директор российской проектно-логистической компании STS Logistics',
		logo: ''
	}
	,
	{
		id: 'grohovskyi',
		name: 'Леонид Гроховский',
		note: 'Руководитель учебного центра ТопЭксперт',
		logo: ''
	}
	,
	{
		id: 'raymm',
		name: 'Лидия Раймм',
		note: 'Основатель Центра интеллектуальной собственности и&nbsp;инноваций IPHUB, создатель проекта IP&nbsp;SCHOOL',
		logo: ''
	}
	,
	{
		id: 'nedyakin',
		name: 'Максим Недякин',
		note: 'Генеральный директор компании &laquo;Стратегические решения&raquo;, основатель Retail Lab: Лаборатория Розницы',
		logo: ''
	}
	,
	{
		id: 'prozorov',
		name: 'Дмитрий Прозоров',
		note: 'Генеральный директор Synergy Soft, директор по&nbsp;развитию бизнеса Университета &laquo;Синергия&raquo;',
		logo: ''
	}
	,
	{
		id: 'satin',
		name: 'Дмитрий Сатин',
		note: 'Основатель Usabilitylab',
		logo: ''
	}
	,
	{
		id: 'azimov',
		name: 'Сергей Азимов',
		note: 'Ведущий специалист по&nbsp;переговорам и&nbsp;личным продажам',
		logo: ''
	}
	,
	{
		id: 'ashepkov',
		name: 'Дмитрий Ащепков',
		note: 'Предприниматель. Бизнес-тренер, бизнес-консультант, один из&nbsp;ведущих экспертов по&nbsp;продажам в&nbsp;России',
		logo: ''
	}
	,
	{
		id: 'senderov',
		name: 'Дмитрий Сендеров',
		note: 'Директор группы STRONG',
		logo: ''
	}
	,
	{
		id: 'sidorin',
		name: 'Дмитрий Сидорин',
		note: 'Физик-математик, политтехнолог, первый в&nbsp;России специалист в&nbsp;области управления репутацией в&nbsp;интернете',
		logo: ''
	}
	,
	{
		id: 'tkachenko',
		name: 'Дмитрий Ткаченко',
		note: 'Тренер-консультант в&nbsp;сфере продаж',
		logo: ''
	}
	,
	{
		id: 'maslennikov',
		name: 'Роман Масленников',
		note: 'Директор агентства &laquo;Взрывной&nbsp;PR&raquo;, проекты которого завоевали 12&nbsp;Каннских львов, автор 102 книг',
		logo: ''
	}
	,
	{
		id: 'timohina',
		name: 'Наталья Тимохина',
		note: 'Партнер, исполнительный директор консалтинговой компании &laquo;Манн, Черемных и&nbsp;Партнеры&raquo;',
		logo: ''
	}
	,
	{
		id: 'shapkin',
		name: 'Павел Шапкин',
		note: 'Со-учредитель компании UCC. UCC-международный турнирный оператор',
		logo: ''
	}
	,
	{
		id: 'indina',
		name: 'Татьяна Индина',
		note: 'Руководитель агентства бизнес-коммуникаций Indina-Consulting',
		logo: ''
	}
	,
	{
		id: 'mojenkov',
		name: 'Владимир Моженков',
		note: 'Бизнес-практик, лучший топ-менеджер Audi в&nbsp;Европе, автор книг',
		logo: ''
	}
	,
	{
		id: 'terakopova',
		name: 'Алина Тер-Акопова',
		note: 'Эксперт по&nbsp;подготовке спикеров к&nbsp;публичным выступлениям и&nbsp;переговорам, автор книги &laquo;Тренер на&nbsp;драйве&raquo;',
		logo: ''
	}
	,
	{
		id: 'sivozhelezov',
		name: 'Павел Сивожелезов',
		note: 'Бизнес-спикер, эксперт по&nbsp;управленческому мастерству, генеральный директор консалтинговой компании &laquo;Второй пилот&raquo;',
		logo: ''
	}
	,
	{
		id: 'williams',
		name: 'Елена Виль-Вильямс и&nbsp;Игорь Чуланов',
		note: 'Соавторы уникального метода по&nbsp;развитию ролевого репертуара руководителя &laquo;Ролевой коучинг&raquo;',
		logo: ''
	}
	,
	{
		id: 'levchik',
		name: 'Тарас Левчик',
		note: 'Генеральный директор Traffic Master',
		logo: ''
	}
	,
	{
		id: 'prohorova',
		name: 'Ксения Прохорова',
		note: 'Партнер агентства &laquo;Maniaco&raquo; и&nbsp;Gotovtsev&amp;CoCo',
		logo: ''
	}
	,
	{
		id: 'belochkina',
		name: 'Настасья Белочкина',
		note: 'Ведущий эксперт по&nbsp;скриптам продаж, практик и&nbsp;тренер по&nbsp;продажам',
		logo: ''
	}
	,
	{
		id: 'solomahina',
		name: 'Анна Соломахина',
		note: 'Основатель и&nbsp;генеральный директор Школы Медицинского Бизнеса',
		logo: ''
	}
	,
	{
		id: 'shamenkov',
		name: 'Дмитрий Шаменков',
		note: 'Доктор, психофизиолог, основатель Школы открытого диалога',
		logo: ''
	}
	,
	{
		id: 'grishina',
		name: 'Виолетта Гришина',
		note: 'Ведущий эксперт по&nbsp;продвижению YouTube&mdash;каналов для бизнеса',
		logo: ''
	}
	,
	{
		id: 'zhalilo',
		name: 'Борис Жалило',
		note: 'Эксперт по&nbsp;управлению продажами, международный спикер, бизнес-консультант, тренер-практик',
		logo: ''
	}
	,
	{
		id: 'alibaeva',
		name: 'Элеонора Алибаева',
		note: 'Вице-Чемпионка мира по&nbsp;фитнесу',
		logo: ''
	}
	,
	{
		id: 'batyshev',
		name: 'Владимир Батищев',
		note: 'Эксперт по&nbsp;бизнес консалтингу, развитию и&nbsp;масштабированию бизнеса',
		logo: ''
	}
	,
	{
		id: 'emelyanov',
		name: 'Антон Емельянов',
		note: 'Управляющий партнер Smart Creative Solutions (консалтинг и&nbsp;организация бизнес-обучения)',
		logo: ''
	}
	,
	{
		id: 'turman',
		name: 'Владимир Турман',
		note: 'Эксперт по&nbsp;маркетингу и&nbsp;продвижению бизнеса',
		logo: ''
	}
	,
	{
		id: 'rizvanova',
		name: 'Зумруд Ризванова',
		note: 'Предприниматель, бизнес-тренер, практик продаж и&nbsp;маркетинга, коуч по&nbsp;продвижению экспертов',
		logo: ''
	}
	,
	{
		id: 'goncharova',
		name: 'Екатерина Гончарова',
		note: 'Эксперт по&nbsp;личным финансам. Основатель компании Goncharova ProFinance',
		logo: ''
	}
	,
	{
		id: 'muradyan',
		name: 'Артур Мурадян',
		note: 'Директор по&nbsp;развитию предпринимательских программ бизнес Школы &laquo;Синергия&raquo;',
		logo: ''
	}
	,
	{
		id: 'bereza',
		name: 'Николай Берёза',
		note: 'Генеральный менеджер инвестиционного холдинга X10GROUP',
		logo: ''
	}
	,
	{
		id: 'kuzin',
		name: 'Сергей Кузин',
		note: 'Кандидат психологических наук, бизнес-тренер, член международной ассоциации спикеров (NSA)',
		logo: ''
	}
	,
	{
		id: 'volovik',
		name: 'Александр Воловик',
		note: 'Предприниматель, инвестор, эксперт по&nbsp;SMM',
		logo: ''
	}
	,
	{
		id: 'novopashina',
		name: 'Екатерина Новопашина',
		note: 'Карьерный консультант, основатель проекта &laquo;Любимое дело&raquo;',
		logo: ''
	}
	,
	{
		id: 'degtyaryov',
		name: 'Сергей Дегтярев',
		note: 'Эксперт по&nbsp;франчайзингу &#8470;&nbsp;1&nbsp;в России, основатель холдинга Catalyst и&nbsp;совладелец компании Fort Family',
		logo: ''
	}
	,
	{
		id: 'chekhranov',
		name: 'Алексей Чехранов',
		note: 'Основатель холдинга экозаводов “Умная SREDA”',
		logo: ''
	}
	,
	{
		id: 'bermuda',
		name: 'Владислав Бермуда',
		note: 'Бизнесмен, практик, создатель инновационных маркетинговых инструментов',
		logo: ''
	}
	,
	{
		id: 'kovpakeka',
		name: 'Екатерина Ковпак',
		note: 'Предприниматель, партнер и&nbsp;финансовый директор компании Dreamer Academy',
		logo: ''
	}
	,
	{
		id: 'baranova',
		name: 'Ирина Баранова',
		note: 'Руководитель рекрутинговой компании @b.lab business',
		logo: ''
	}
	,
	{
		id: 'cheryomnikh',
		name: 'Иван Черемных',
		note: 'Управляющий партнер консалтинговой компании &laquo;Манн, Черемных и&nbsp;Партнеры&raquo;. Эксперт по&nbsp;управлению прибыльностью в&nbsp;девелоперских проектах',
		logo: ''
	}
	,
	{
		id: 'levchenko',
		name: 'Андрей Левченко',
		note: 'Бизнес-тренер, консультант Специалист по&nbsp;внедрению изменений и&nbsp;повышению эффективности людей и&nbsp;процессов',
		logo: ''
	}
	,
	{
		id: 'sazonova',
		name: 'Ирина Сазонова',
		note: 'Эксперт в&nbsp;области мотивации персонала',
		logo: ''
	}
	,
	{
		id: 'beselidze',
		name: 'Ираклий Беселидзе',
		note: 'Предприниматель, ИИ&nbsp;маркетинг-стратег. Основатель calen.ai',
		logo: ''
	}
	,
	{
		id: 'pitercev',
		name: 'Михаил Питерцев',
		note: 'Руководитель и&nbsp;креативный директор агенства Synergy Digital Spb',
		logo: ''
	}
	,
	{
		id: 'pustovit',
		name: 'Александр Пустовит',
		note: 'Руководитель Synergy Accelerator',
		logo: ''
	}
	,
	{
		id: 'doronin',
		name: 'Павел Доронин',
		note: 'Магистр МФТИ и&nbsp;ГУ&nbsp;ВШЭ, чл-корр. общественной академии компьютерных наук',
		logo: ''
	}
	,
	{
		id: 'jakuba',
		name: 'Владимир Якуба',
		note: 'Бизнес-тренер, эксперт по&nbsp;обучению в&nbsp;формате &laquo;реалити&raquo;',
		logo: ''
	}
	,
	{
		id: 'valinurov',
		name: 'Ильгиз Валинуров',
		note: 'Эксперт по&nbsp;рекрутингу и&nbsp;построению карьеры',
		logo: ''
	}
	,
	{
		id: 'dozorcev',
		name: 'Вадим Дозорцев',
		note: 'Создатель и&nbsp;совладелец консалтинговой компании Berner&amp;Stafford, основатель проекта Customer Journey Club',
		logo: ''
	}
	,
	{
		id: 'koryanova',
		name: 'Татьяна Корянова',
		note: 'Предприниматель, инвестор, создатель проекта &laquo;Инвесторантье&raquo;',
		logo: 'investo'
	}
	,
	{
		id: 'golovanov',
		name: 'Андрей Голованов',
		note: 'Предприниматель, автор проекта Practicum',
		logo: ''
	}
	,
	{
		id: 'marynovich',
		name: 'Владимир Маринович',
		note: 'Бизнес-философ и&nbsp;бизнес-ангел, эксперт по&nbsp;цифровой трансформации бизнеса',
		logo: ''
	}
	,
	{
		id: 'husainov',
		name: 'Ильдар Хусаинов',
		note: 'Российский предприниматель, основатель международного агентства недвижимости &laquo;Этажи&raquo;',
		logo: ''
	}
	,
	{
		id: 'mamaev',
		name: 'Дмитрий Мамаев',
		note: 'Руководитель детского города профессии ООО &laquo;Кидбург&raquo; ЦДМ',
		logo: ''
	}
	,
	{
		id: 'smolyanov',
		name: 'Михаил Смолянов',
		note: 'Основатель Финолога&nbsp;&mdash; сервиса управленческого учета, который помог тысячам предпринимателей навести порядок в&nbsp;учете',
		logo: ''
	}
	,
	{
		id: 'dwayer',
		name: 'Джеймс Дуайер',
		note: 'Генеральный директор ООО &laquo;Эрманн&raquo;, Россия и&nbsp;СНГ',
		logo: ''
	}
	]%}



	{# Резерв #}
	{#
	{
		id: 'kovpak',
		name: 'Дмитрий Ковпак',
		note: 'Эксперт &#8470;&nbsp;1&nbsp;по&nbsp;коммуникациям в&nbsp;сфере бизнеса с&nbsp;Китаем',
		logo: ''
	}
	,
	{
		id: 'kravtzov',
		name: 'Александр Кравцов',
		note: 'Владелец группы компаний &laquo;Руян&raquo;, создатель лайфстайл-бренда &laquo;Экспедиция&raquo;',
		logo: ''
	}
	,
	{
		id: 'semenikhin',
		name: 'Денис Семенихин',
		note: 'Автор нового бестселлера &laquo;7&nbsp;вопросов человечеству&raquo;, гуру здорового образа жизни, Youtube + Instagram блогер',
		logo: ''
	}
	,
	{
		id: 'efremov',
		name: 'Владимир Ефремов',
		note: 'Эксперт по&nbsp;практическому увеличению прибыли и&nbsp;продаж в&nbsp;малом и&nbsp;среднем бизнесе',
		logo: ''
	}
	,
	{
		id: 'babich',
		name: 'Даниил Бабич',
		note: 'Ведущий и&nbsp;заместитель главного редактора телеканала РБК. Экономист, финансист, трейдер',
		logo: 'rbk'
	}
	,
	{
		id: 'burashova',
		name: 'Анна Бурашова',
		note: 'Главный редактор Marie Claire',
		logo: 'marie-claire'
	}
	,
	{
		id: 'anuryev',
		name: 'Сергей Анурьев',
		note: 'Генеральный директор компании &laquo;Литрес&raquo;',
		logo: 'litres'
	}
	,
	{
		id: 'brodovskyi',
		name: 'Максим Бродовский',
		note: 'Директор AZIMUT Hotels',
		logo: 'azimut'
	}
	,
	{
		id: 'batirev',
		name: 'Максим Батырев',
		note: 'Бизнес-спикер, автор бестселлеров &laquo;45&nbsp;татуировок менеджера&raquo;',
		logo: ''
	}
	,
	{
		id: 'makshanov',
		name: 'Сергей Макшанов',
		note: 'Управляющий ГК&nbsp;&laquo;Институт Тренинга&nbsp;&mdash; АРБ Про&raquo;, эксперт &#8470;&nbsp;1&nbsp;по&nbsp;стратегическому планированию и&nbsp;экономическим сценариям',
		logo: 'arb'
	}
	,
	{
		id: 'shavelev',
		name: 'Алексей Щавелев',
		note: 'Тренер-консультант, руководитель практики &laquo;Управление качеством жизни&raquo; ГК&nbsp;&laquo;Институт Тренинга&nbsp;&mdash; АРБ Про&raquo;',
		logo: ''
	}
	,
	{
		id: 'koposov',
		name: 'Роман Копосов',
		note: 'Руководитель направления &laquo;Стратегическое планирование&raquo;, консультант ГК&nbsp;&laquo;Институт Тренинга&nbsp;&mdash; АРБ Про&raquo;',
		logo: ''
	}
	,
	{
		id: 'strelkova',
		name: 'Зоя Стрелкова',
		note: 'Ведущий финансовый аналитик, руководитель направления &laquo;Экономика компании&raquo; ГК&nbsp;&laquo;Институт Тренинга&nbsp;&mdash; АРБ Про&raquo;',
		logo: ''
	}
	,
	{
		id: 'golikov',
		name: 'Демид Голиков',
		note: 'Директор АРБ Про, консультант ГК&nbsp;&laquo;Институт Тренинга&nbsp;&mdash; АРБ Про&raquo;',
		logo: ''
	}
	,
	{
		id: 'sysueva',
		name: 'Елена Сысуева',
		note: 'Руководитель направления &laquo;Стратегический маркетинг&raquo;, ведущий аналитик ГК&nbsp;&laquo;Институт Тренинга&nbsp;&mdash; АРБ Про&raquo;',
		logo: ''
	}
	,
	{
		id: 'berek',
		name: 'Ольга Берек',
		note: 'Маркетолог, автор &laquo;Блога занятой женщины&raquo;, создатель &laquo;Бережок-бота&raquo;, владелец CMYK Laboratory',
		logo: ''
	}
	,
	{
		id: 'gerasimov',
		name: 'Егор Герасимов',
		note: 'Эксперт по&nbsp;продажам через WhatsApp',
		logo: ''
	}


	#}

