.main {
	display: flex;
	flex-direction: column;
	color: #FFF;
	text-transform: uppercase;
	background: #000 url($path + 'main/bg.jpg') no-repeat 50% 0 / cover;
	cursor: pointer;
	padding: 98px 0 113px 109px;

	&-1 {
		margin-top: 66px;
	}

	&__info {
		font-size: 43px;
		font-weight: 800;
		line-height: 79%;
		letter-spacing: -0.01em;

		&-banner {			
			margin: 10px 0 32px 0;
			text-transform: uppercase;
			letter-spacing: -0.01em;
			font-size: 43px;
			line-height: 79%;
			font-weight: normal;
		}
	}

	&__title {
		font-size: 141px;
		font-weight: 900;
		line-height: 81%;
		letter-spacing: -0.015em;
		margin-bottom: 28px;
	}

	&__subtitle {
		font-size: 34px;
		font-weight: normal;
		line-height: 94%;
		letter-spacing: 0.02em;
		margin-bottom: 40px;
		span {
			font-weight: 800;
		}
	}

	&__button {
		display: inline-flex;
		max-width: 364px;
		min-height: 92px;
		font-size: 27px;
		border-radius: 5.3604px;
	}

}
