.popup {
	color: #FFF;
	background: #4D2CE0;
	padding: 33px 42px 53px 46px;

	.fancybox-container & {
		max-width: 373px;
		border-radius: 5px;
	}

	&__title {
		font-size: 29px;
		font-weight: 900;
		line-height: 119%;
		letter-spacing: -0.06em;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.form {
		&__input {
			color: #000;
			background: #FFF;
			// border: 1px solid transparentize(#04071F, 0.66);
		}
		&__item_button {
			margin-bottom: 0;
		}
		&__button {
			font-size: 17.4527px;
			font-weight: 900;
			max-width: 290px;
		}
		&__footer-checkbox {
			opacity: 0.5;
		}
		&__footer-text {
		}
		&_vertical &__footer {
			margin-bottom: 30px;
		}
	}

	@import '_style.accreditation';
	@import '_style.synergyonline';

}
