{% set data = [

	{
		title: 'ОБЩИЕ ПОЛОЖЕНИЯ',
		content: ' 
            <li>Указанный договор является официальным предложением (офертой) и&nbsp;содержит основные условия договора предоставления права участия в&nbsp;онлайн-мероприятии Synergy Online Forum, проходящем <?= $version_offer_date_2 ?> 2020&nbsp;года, (далее&nbsp;&mdash; мероприятие) на&nbsp;Интернет-сайте https://synergy.online/ (далее&nbsp;&mdash; сайт).</li>
            <li>После принятия изложенных ниже условий лицо, производящее акцепт этой оферты, становится стороной договора.</li>
            <li>Лицо, формирующее электронную заявку на&nbsp;участие в&nbsp;мероприятии, получает письмо от&nbsp;заказчика по&nbsp;электронной почте, указанной в&nbsp;заявке, содержащее настоящую оферту, анкету и&nbsp;инструкцию для участия в&nbsp;мероприятии. Под акцептом этой оферты подразумевается ответное письмо на&nbsp;электронную почту заказчика, содержащее заполненную анкету, а&nbsp;также совершение действий, указанных в&nbsp;инструкции.</li>
            <li>Адрес электронной почты заказчика: VDubrovina@synergy.ru;.</li>
        '
	}
    ,
    {
    title: 'ПРЕДМЕТ ДОГОВОРА',
    content: ' 
        <li>Заказчик безвозмездно предоставляет Автору право участия в&nbsp;качестве спикера на&nbsp;мероприятии. </li>
        <li>Время и&nbsp;тема выступления Автора публикуется в&nbsp;программе мероприятия, размещенной на&nbsp;сайте.</li>           
    '
	}
    ,
    {
    title: 'ПРАВА И&nbsp;ОБЯЗАННОСТИ СТОРОН',
    content: ' 
        <li>Заказчик обязуется:
             <ol>
                <li>обеспечить Автору участие в&nbsp;качестве спикера на&nbsp;мероприятии.&nbsp;</li>
                <li>консультировать Автора по&nbsp;техническим вопросам, связанным с&nbsp;доступом к&nbsp;участию в&nbsp;мероприятии.</li>
             </ol>
        </li>
        <li>Автор обязуется:
             <ol>
                <li>участвовать в&nbsp;качестве спикера на&nbsp;мероприятии.&nbsp;</li>
                <li>обеспечить соблюдение темы и&nbsp;времени выступления согласно программе мероприятия.</li>
             </ol>
        </li>
        <li>Автор гарантирует, что информация, представленная на&nbsp;выступлении Автора, разработана Автором самостоятельно на&nbsp;основе собственного опыта и&nbsp;знаний и&nbsp;является интеллектуальной собственностью Автора.</li>
        <li>Автор безвозмездно передает заказчику в&nbsp;полном объеме исключительное право на&nbsp;Произведение, представляющее собой трансляцию и&nbsp;видеозапись выступления Автора на&nbsp;мероприятии, и&nbsp;обязуется подписать Акт о&nbsp;передаче исключительных прав в&nbsp;течение&nbsp;3 (трех) рабочих дней с&nbsp;момента окончания выступления на&nbsp;мероприятии.</li>
        <li>Автор дает свое согласие на&nbsp;обнародование и&nbsp;дальнейшее использование изображения Автора на&nbsp;фотографии в&nbsp;анонсе, в&nbsp;трансляции и&nbsp;видеозаписи выступления Автора.</li>         
    '
	}
    ,
    {
    title: 'ОТВЕТСТВЕННОСТЬ СТОРОН',
    content: ' 
        <li>Заказчик не&nbsp;несет ответственности за&nbsp;невозможность участия Автора в&nbsp;мероприятии по&nbsp;причине отсутствия у&nbsp;Автора программного и&nbsp;аппаратного обеспечения, а&nbsp;также соединения с&nbsp;сетью Интернет&nbsp;</li>
        <li>Во&nbsp;всех других случаях неисполнения обязательств по&nbsp;Договору Стороны несут ответственность в&nbsp;соответствии с&nbsp;законодательством РФ.</li>           
    '
	}
    ,
    {
    title: 'КОНФИДЕНЦИАЛЬНОСТЬ',
    content: ' 
        <li>Условия настоящего Договора конфиденциальны и&nbsp;не&nbsp;подлежат разглашению.</li>
        <li>В&nbsp;случае разглашения сведений, содержащихся в&nbsp;настоящем Договоре, виновная Сторона возмещает пострадавшей Стороне убытки в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации.</li>           
    '
	}
    ,
    {
    title: 'ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ',
    content: ' 
        <li>Все споры и&nbsp;разногласия Сторон решаются путем переговоров. Срок ответа на&nbsp;претензию&nbsp;&mdash; 30&nbsp;календарных дней.&nbsp;</li>
        <li>Если в&nbsp;ходе переговоров Стороны не&nbsp;достигли согласия, спор передается в&nbsp;суд города Москвы.</li>           
    '
	}
    ,
    {
    title: 'ПРОЧИЕ УСЛОВИЯ',
    content: ' 
        <li>Все организационные и&nbsp;иные вопросы, связанные, в&nbsp;том числе, с&nbsp;исполнением Договора, стороны решают путем переписки по&nbsp;электронной почте.</li>
    '
	}
    ,
    {
    title: 'РЕКВИЗИТЫ',
    content: ' 
        <li>ООО &laquo;Организация Времени&nbsp;&mdash; корпоративные семинары&raquo; </li>
        <li>Юридический адрес: 129090, г. Москва, ул. Мещанская, дом &#8470;&nbsp;9/14, стр.1, эт.5, пом. I, ком.5</li>
        <li>ОГРН 1117746396899</li>
        <li>ИНН 7702762563</li>
        <li>КПП 770201001</li>
        <li>р/с 40702810038000201742</li>
        <li>БИК 044525225 к/с 30101810400000000225 ПАО СБЕРБАНК</li>
    '
	}

    ]
%}