.opposition {

	@media (max-width: 1580px) {
		.blockquote {
			margin-top: -40px;
		}
	}

	@media (max-width: 1199px) {
		&__title {
			width: 100%;
		}
		&__img {
			width: 100%;
			text-align: center;
			float: unset;
			img {
				margin: 0;
				max-width: 500px;
			}
		}
	}

	@media (max-width: 991px) {
		background-image: none;

		&__title {
			line-height: 94px;
			margin-bottom: 48px;
		}
		&__subtitle {
			margin-bottom: 35px;
		}
		&__text {
			&-img,
			&--img {
				display: none;
			}
		}

		&__content {
			&--bottom {
				padding: 96px 0 0 0;
			}
		}
		.blockquote {
			margin-top: 0;
			&__img {
				&--bottom--left {
					bottom: -30%;
					left: -11%;
					img {
						width: 540px;
					}
				}
			}
			&__wrap {
				margin: 0;
			}
		}
	} // 991


	@media (max-width: 575px) {
		padding-top: 95px;
		padding-bottom: 25px;
		&__title {
			margin-bottom: 25px;
			line-height: 31px;
			br {
				display: none;
			}
		}
		&__subtitle {
			order: 2;
			font-size: 24px;
			line-height: 24px;
			br {
				display: none;
			}
		}
		&__text {
			display: flex;
			flex-direction: column;
			padding: 0 2rem 0 2rem;
			margin-bottom: 4px;
			&--title {
				order: 1;
			}
			&--box {
				order: 4;
			}
			p {
				margin-bottom: 1.5rem;
			}
			&--bottom {
				width: 100%;
				margin-left: 0;
			}
		}
		&__img {
			order: 3;
			float: none;
			img {
				margin: 0;
				max-width: 300px;
			}
		}

		&__content {
			&--bottom {
				padding: 195px 0 0 0;
			}
		}

		.blockquote {
			&__img {
				&--bottom--left {
					transform: rotate(15deg);
					bottom: -17%;
					left: -75px;
					img {
						width: 300px;
					}
				}
				&--bottom--right {
					display: none;
				}
			}
		}

	} // 575

}

