.speakers {

	&-card {
		&__image {
			picture {
				max-height: 21vw;
			}
		}
	}


	@media (max-width: 991px) {
		&__title {
			margin-bottom: 50px;
		}

		&__row {
			margin-left: -13px;
			margin-right: -13px;
		}
		&-card {
			min-height: 400px;
			&__col {
				padding-left: 13px;
				padding-right: 13px;
				padding-bottom: 24px;
			}
			&__text {
				padding: 20px;
			}
			&__name {
				color: $blue;
				font-size: 29px;
				margin: 0 0 5px;
			}
			&__note {
				font-size: 16px;
				line-height: 120%;
			}
		}

	} // 991


	@media (max-width: 767px) {
		overflow: hidden;
		padding: 30px 0;

		&__title {
			font-size: 40px;
			margin-bottom: 20px;
			line-height: 100%;
		}
		&__row {
			margin-left: -5px;
			margin-right: -5px;
		}

		&-nospeaker {
			padding-left: 5px;
			padding-right: 5px;
			padding-bottom: 12px;
		}

		&-card {
			min-height: 264px;
			&__col {
				padding-left: 5px;
				padding-right: 5px;
				padding-bottom: 12px;
			}
			&__image {
				margin-top: -10px;
				background-position: 50% 10px;
				picture {
					max-height: 30.8vw;
				}
			}
			&__logo {
				max-width: 80%;
				max-height: 45px;
				display: flex;
				padding-top: 10px;
				margin: auto 0 0 -5px;
				img {
					max-height: 100%;
					display: block;
				}
			}
			&__name {
				font-size: 17px;
				margin-bottom: 3px;
			}
			&__note {
				font-size: 12px;
				font-weight: 600;
			}

			&__col_headliner & {
				&__image {
					max-width: 49.4%;
					flex: 0 0 auto;
				}
				&__text {
					padding: 20px;
				}
			} // &__col_headliner &

		} // &-card

		&__link-more {
			max-width: 298px;
			min-height: 41px;
			font-size: 20px;
			line-height: 93.4%;
			padding: 3px 30px 0;
			margin-top: 37px;
			font-size: 16px;
			padding: 0;
		}

	}	// 767


	@media (max-width: 575px) {
		&-card {
			&__col_headliner & {
				flex-flow: column;
				&__image {
					max-width: none;
					flex: 0 0 auto;
					picture {
						justify-content: center;
					}
				}
				&__role {
					font-size: 20px;
					margin-bottom: 17px;
				}
				&__name {
					font-size: 30px;
					margin: 0 0 10px;
				}
				&__note {
					font-size: 14px;
				}
			} // &__col_headliner &
		} // &-card
	} // 575

}

// @import 'speakers-past/_responsive';
// @import 'discussion/_responsive';
