@import 'form/_mixins';

.speakers {
	background: #F4F4F4 url('../img/@lp/@platform/speakers/bg.png') no-repeat 0 444px;
	@media (max-width: 1800px) {
		background-image: none;
	}
	padding: 46px 0 0px;
	padding-bottom: 48px;

	&__title {
		text-align: center;
		margin-bottom: 56px;
	}

	&-nospeaker {
		padding-bottom: 29px;
	}

	&-card {
		height: 100%;
		min-height: 583px;
		position: relative;
		top: auto;
		left: auto;
		display: flex;
		flex-direction: column;
		text-decoration: none !important;
		background: #FFF;
		opacity: 1 !important;
		transition: 0.3s;
		margin: 0 auto;
		background: #FFFFFF;
		box-shadow: 0px 4px 4px rgba(77, 44, 224, 0.11), 0px 4px 16px rgba(77, 44, 224, 0.11), 0px 4px 32px rgba(77, 44, 224, 0.11), 0px -4px 4px #FFFFFF;
		border-radius: 5px;
		overflow: hidden;
		&[data-fancybox] {
			transform: perspective(1px) translateZ(0);
			cursor: pointer;
		}

		&[data-fancybox]:hover,
		&[data-fancybox]:focus,
		&[data-fancybox]:active {
			animation: hvr-pop 0.5s linear;
		}

		[data-more-hidden] & {
			position: absolute;
			top: 9999px;
			left: -9999px;
			opacity: 0;
		}

		&__col {
			position: static;
			padding-bottom: 29px;
			&[data-more-hidden] {
				min-height: 0;
				padding-bottom: 0;
			}
		}

		&__info {
			display: none;
		}

		&__image {
			background: url('../img/@lp/@platform/speakers/speaker_bg.jpg') no-repeat 0 0 / 100% 100%;
			// margin-top: -22px;
			&_odd {
				// background-image: url('../img/@lp/@platform/speakers/bg-card-2.jpg');
			}
			.speakers-nospeaker & {
				background: url('../img/@lp/@platform/speakers/bg-card-1.jpg') no-repeat 0 0 / 100% 100%;
			}

			picture {
				max-height: 281px;
				overflow: hidden;
				display: block;
			}
			img {
				margin-bottom: -1px; // компенсация пустой строки пикселей в фотках от криворуких дизайнеров
				.speakers-nospeaker & {
					mix-blend-mode: overlay;
				}
			}
		}
		&__text {
			height: 100%;
			display: flex;
			flex-direction: column;
			padding: 30px 20px 38px 28px;
		}
		&__role {
			color: #3215E4;
			margin-bottom: 5px;
		}
		&__name {
			color: $blue;
			font-size: 35px;
			letter-spacing: -0.03em;
			line-height: 88.91%;
			margin: 0 0 16px;
			.speakers-nospeaker & {
				margin-bottom: 15px;
			}
		}
		&__note {
			font-size: 22px;
			font-weight: 600;
			line-height: 115%;
			@media (max-width: 767px) {
				margin-bottom: 16px;
			}
		}
		&__logo {
			margin-top: auto;
			img {
				max-height: 69px;
			}
		}
		&__button {
			min-height: 60px;
			margin: auto 0 0;
			background: #F8006B;
			border-radius: 5px;
			font-weight: bold;
			font-size: 18px;
			line-height: 60px;
			text-align: center;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #FFFFFF;
			display: inline-block;
			padding: 0 30px;
			align-self: flex-start;
			@media (max-width: 767px) {
				font-size: 11px;
				line-height: 32px;
				min-height: auto;
				padding: 0;
				min-width: 130px;
			}
		}

		&__col_headliner {
			order: -1;

			&.speakers-taleb {
				order: -10;
			}
			.speakers-card__button{display: none;}
		}
		&__col_headliner & {
			min-height: 0;
			flex-flow: row;
			&__image {
				max-width: 360px;
				min-height: 237px;
				flex: 0 0 31.7%;
				background-image: url('../img/@lp/@platform/speakers/bg-headliner.jpg');
				picture {
					height: 100%;
					max-height: none;
					display: flex;
					align-items: flex-end;
					justify-content: flex-end;
				}
			}
			&__text {
				display: flex;
				flex-flow: column;
				padding: 30px;
			}
			&__role {
				font-weight: 900;
				line-height: 1;
				letter-spacing: -0.03em;
				margin: 10px 0 auto;
			}
			&__name {
				margin: auto 0;
			}
			&__note {
				margin: auto 0;
			}
			&__logo {
				display: none;
			}

			@media (min-width: 992px) {
				&__role {
					font-size: 30px;
				}
				&__name {
					font-size: 65px;
				}
			} // 992
		} // &__col_headliner &

	} // &-card

	&-hidden {
		min-height: 0;
		position: relative;
		padding: 0 !important;
	}
	&-hidden & {
		&-card {
			position: absolute;
			top: 9999px;
			left: -9999px;
			opacity: 0 !important;
			transition: 0.3s;
		}
	}

	&__link-more {
		max-width: 750px;
		min-height: 103px;
		position: relative;
		display: none;
		color: #FFF;
		font-size: 41.496px;
		font-weight: 900;
		background-color: #F8006B;
		// background-image: linear-gradient(180deg, #F8006B -0.32%, #B800B0 100%);
		margin: 60px auto 0;
		transition: background-color .4s ease;
		&-icon {
			width: 80px;
			height: 79px;
			position: absolute;
			top: -45px;
			left: 0;
			right: 0;
			background: url('../img/@lp/@platform/speakers/bg-more.png') no-repeat 0 0 / auto 100%;
			animation: speakers-link-more-icon 2s ease infinite;
			margin: 0 auto;
			@media (max-width: 767px) {
				transform: scale(0.4);
				animation:none;
			}
			&_1 {
				right: 55px;
				animation-delay: 2s;
			}
			&_2 {
				background-position: -80px 0;
				animation-delay: 2.1s;
			}
			&_3 {
				left: 55px;
				background-position: -160px 0;
				animation-delay: 2.3s;
			}
		}
		&:hover{
			background-color: rgba(248, 0, 107, 0.5);
		}
	}
	&_show-all & {
		&__link-more {
			display: none;
		}
	}


}

@keyframes speakers-link-more-icon {
	0% { transform: scale(0.7); }
	20% { transform: scale(1); }
	50% { transform: scale(0.7); }
	100% { transform: scale(0.7); }
}

@keyframes hvr-pop {
	50% { transform: scale3d(1.02,1.02,1.02); }
}


.popup-add-speaker {
	.form {
		&__title {
			text-align: center;
		}
		&__item_email {
			order: 2;
		}
		&__footer {
			display: none;
		}
	}
}

// @import 'speakers-past/_style';
// @import 'discussion/_style';
