.cite {
  @media (max-width: 991px) {    
    margin-top: 0;
    .blockquote {
      &__img {
        &--bottom--right {
          bottom: -150px;
          picture {
            max-width: 210px;
          }
          img {
            max-width: 210px;
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    padding-bottom: 120px;

    .blockquote {
      &__img {

        &--bottom--right {
          bottom: -126px;
          right: -1%;

          picture {max-width: 160px;}
          img {max-width: 160px;}
          
        }
      }
    }
  }
}

