.platform {
    padding: 180px 0;
    &__head {
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #000;
    }
    &__title {
        padding: 0;
        margin: 0 10px 0 0;
        border: none;
        font-weight: 900;
        font-size: 60px;
        letter-spacing: -0.03em;
        color: #1662DA;
        line-height: 38px;
    }
    &__logo {
        align-self: flex-end;
        display: flex;
    }
    &__content {
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 40px;
    }
    &__text {
        font-size: 32px;
        line-height: 52px;
        margin-bottom: 30px;
    }
    &__description {
        font-family: 'Proxima Nova ExCn';
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -17px;
    }
    &__item {
        flex-basis: 33.3%;
        padding: 0 17px;
        margin-bottom: 35px;
    }
    &__box {
        min-height: 205px;
        display: flex;
        
        justify-content: center;
        align-items: center;
        &_blue {background: #1662DA;}
        &_black {background: #251B1D;;}
    }
}