.whois {
	@include vw('padding: 140px 0 157px 0');
	&__title {
		position: relative;
		z-index: 1;
		@include vw('margin: 0 0 41px 0');
		line-height: 120px;
	}

	&__img {
		width: 50%;
		text-align: center;
		img {
			@include vw('width: 768px');
			@include vw('margin: 60px 0 0 0');
		}

		&_bottom {			
			img {@include vw('width: 570px');}
		}
	}

	&__text {
		width: 50%;
		@include vw('margin: 0 0 22px 0');
		@include vw('padding: 0 120px 0 30px');
		
		p {
			@include vw('margin: 0 0 44px 0');
		}
	}

	&__content {
		&_bottom {
			@include vw('margin-top: 140px');
		}
	}

	.blockquote {		
		@include vw('padding: 0 335px 0 0');
		&__text {
			max-width: 90%;
		}
		&__wrap {
			position: relative;
			&-img {
				position: absolute;
				@include vw('width: 358px');
				right: -1.8%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
