.about {
	text-align: center;
	background: none;
	padding: 40px 0;

	&__subtitle {
		max-width: 900px;
		margin: 16px auto 30px;
		font-size: 19px;
		line-height: 120%;
		font-weight: 600;
		span {font-weight: 900;}
	}

	&__text {
		height: 100%;
		max-width: 360px;
		min-height: 200px;
		background-color: #FFF;
		box-shadow: 0px 4px 30px rgba(77, 44, 224, 0.3);
		font-weight: 900;
		font-size: 32px;
		line-height: 88.91%;
		text-align: center;
		letter-spacing: -0.03em;
		color: #05006D;
		padding: 23px 10px 15px 10px;
		margin: 0 auto;

		&:before {
			content: '';
			display: block;
			width: 102px;
			height: 82px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			margin: 0 auto 10px auto;
		}

		&_1 {
			&:before {background-image: url(../img/@lp/@synergyonline-platform/about/digital-icon-3.png);}
		}
		&_2 {
			&:before {background-image: url(../img/@lp/@synergyonline-platform/about/digital-icon-5.png);}
		}
		&_3 {
			&:before {background-image: url(../img/@lp/@synergyonline-platform/about/digital-icon-6.png);}
		}
	}

	&__bottom {
		position: relative;
		margin-top: 40px;

		&-inner {
		}
	}

	&__link {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate3d(0,-50%,0);
		text-align: center;
		font-weight: bold;
		font-size: 68px;
		line-height: 74%;
		color: #FFFFFF;
		padding-top: 35px;
		&::before {
			content: '';
			display: block;
			width: 104px;
			height: 104px;
			background: url(../img/@lp/@synergyonline-platform/about/play.png) no-repeat 0 0 / cover;
			margin: 0 auto 27px;
		}

		&:hover,
		&:active {
			color: #FFFFFF;
			text-decoration: none;
		}
	}
}
