.header {
	min-width: $mobile-min-width;

	@media (max-width: 991px) {

		&__logo {
	
			&-vtb {
				margin-left: 5px;
	
				&:before {
					width: 1px;
					margin-right: 2px;
				}
			}
		}

		&__phone {
			font-size: 16px;
		}
	} // 991



	@media (max-width: 767px) {
		.container {padding-right: 15px;}

		&__logo {
			max-width: 169px;
		}

		&__phone {
			text-align: right;
			margin: 0 12px 0 0;
			&-col {
				order: 2;
			}
			a {
				display: none;
				font-size: 0;
				&:before {
					content: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2788 0.482361C6.41974 0.482361 0.859375 6.04273 0.859375 12.9018C0.859375 19.7609 6.41974 25.3212 13.2788 25.3212C20.1379 25.3212 25.6982 19.7609 25.6982 12.9018C25.6982 6.04273 20.1379 0.482361 13.2788 0.482361ZM8.81557 5.41557C9.07146 5.40048 9.30275 5.55342 9.47809 5.82489L11.1761 9.04496C11.3548 9.42652 11.2532 9.83508 10.9866 10.1077L10.2088 10.8854C10.1608 10.9512 10.1292 11.0253 10.1285 11.1068C10.4267 12.2613 11.3314 13.3262 12.1297 14.0585C12.9279 14.7908 13.7858 15.7824 14.8995 16.0172C15.0371 16.0556 15.2057 16.0694 15.3042 15.9779L16.2078 15.0576C16.5197 14.8212 16.9709 14.7066 17.3039 14.9H17.3191L20.3829 16.7086C20.8327 16.9905 20.8793 17.5354 20.5573 17.8669L18.447 19.9605C18.1354 20.2801 17.7213 20.3875 17.3191 20.388C15.5401 20.3347 13.8591 19.4615 12.4784 18.5642C10.212 16.9155 8.13317 14.8706 6.82805 12.4C6.32751 11.364 5.73951 10.0422 5.79562 8.88582C5.80063 8.45081 5.91833 8.02464 6.22467 7.74425L8.335 5.63392C8.49939 5.49404 8.66203 5.42463 8.81557 5.41557Z' fill='white'/%3E%3C/svg%3E%0A");
				}
				&:first-child {
					display: block;
				}
			}
		}

		&__toggle-popup {
			position: relative;
			z-index: 2;
			font-size: 16.147px;
			margin-right: 0;
			&-col {
				order: 3;
			}
		}

		&__bottom {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.8);
			transform: translate3d(-100%, 0, 0);
			transition: 0.3s;
			padding: 76px 15px 30px;

			.page-menu-opened & {
				transform: none;
			}
		}

		&__links {
			display: block;
			text-align: center;
			font-size: 36px;
			&-item + &-item:before {
				content: none;
			}

			&-item_reg {
				display: inline;
			}
		}

		&__button {
			// max-width: $mobile-min-width / 2;
			// max-width: 50%;
			width: auto;
			min-width: 0;
			min-height: 80px;
			display: flex;
			position: fixed;
			bottom: 0;
			left: 15px;
			right: 15px;
			font-size: 29px;
			line-height: 29px;
			font-family: $font-condensed;
			font-weight: 900;
			box-shadow: 0px 1.69366px 12.7024px rgba(77, 44, 224, 0.5);
			margin-bottom: 10px;
			.page-scrolled_after-mobile-form-2 &_registration_3,
			.page-scrolled_after-mobile-form-1 &_registration_2 {
				bottom: 0px;
			}
			&_registration_2,
			&_registration_3,
			.page-scrolled_after-mobile-form-1 &_registration_1,
			.page-scrolled_after-mobile-form-2 &_registration_2,
			.page-scrolled_on-mobile-form-1 &,
			.page-scrolled_on-mobile-form-2 &,
			.page-scrolled_on-mobile-form-3 & {
				bottom: -90px;
			}
			.fancybox-margin & {
				display: none;
			}
			&-col {
				width: auto;
				height: auto;
				display: flex;
				align-items: center;
				order: 2;
			}
			&_registration {
			}
			&_enter {
				min-height: 0;
				position: static;
				font-size: 0;
				background: none;
				box-shadow: none;
				padding: 0;
				margin: 0 14px 0 0;
				&:before {
					content: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8061 0.482361C6.07358 0.482361 0.386719 6.16922 0.386719 12.9018C0.386719 19.6344 6.07358 25.3212 12.8061 25.3212C19.5387 25.3212 25.2256 19.6344 25.2256 12.9018C25.2256 6.16922 19.5387 0.482361 12.8061 0.482361ZM12.8061 6.69208C14.951 6.69208 16.532 8.27183 16.532 10.4179C16.532 12.564 14.951 14.1437 12.8061 14.1437C10.6626 14.1437 9.08032 12.564 9.08032 10.4179C9.08032 8.27183 10.6626 6.69208 12.8061 6.69208ZM6.46479 18.8283C7.57881 17.189 9.43676 16.0961 11.5642 16.0961H14.0481C16.1768 16.0961 18.0335 17.189 19.1475 18.8283C17.5603 20.5273 15.3087 21.5954 12.8061 21.5954C10.3036 21.5954 8.05199 20.5273 6.46479 18.8283Z' fill='%23FF0099'/%3E%3C/svg%3E%0A");
				}
			}
		} // &__button
	} // 767


	@media (max-width: 575px) {
		&__logo-col {width: 70%;}

		&__logo {width: 200px;}

		&__links {
			font-size: 26px;
			line-height: 140%;
		}
	} // 575

	@media (max-width: 480px) {
		&__logo-col {width: 55%;}

		&__logo {
			width: 100%;
			max-width: 100px;
		}
	} // 480


	// ========
	// Versions
	.lang-en & {
		@media (max-width: 767px) {
			&__logo {
				text-align: right;
				margin-right: 15px;
				&-col {
					order: 3;
				}
			}
			&__toggle-popup {
				&-col {
					order: 0;
				}
				i {
					font-size: 28px;
					margin: 0 0 2px 10px;
				}
			}
			&__phone {
				a {
					&::before {
						display: none;
					}
				}
			}
		} // 767
	} // .lang-en


	.external-url-synergyonline & {
		@media (max-width: 767px) {
			&__button {
				left: 0;
				right: 0;
				bottom: 0;
				margin-bottom: 0;
				&_enter {
					max-width: 48%;
				}
				&_registration {
					max-width: 52.5%;
					transform: translate3d(91%, 0, 0);
				}
			}
		}
	} // .external-url-synergyonline


	.external-url-synergydigital & {
		@media (max-width: 767px) {
			&__logo {
				max-width: 135px;
				background: url(../../img/@price/synergydigital/header/sbs-mobile.svg) no-repeat left center / contain;
			}
			&__phone {
				a {
					display: inline-block;
				}
			}
		}
	} // .external-url-synergydigital

}
