.weekly-forums {

	@media (max-width: 1199px) {
		background-image: url('../img/@lp/@synergyonline-platform/weekly-forums/tablet/bg.jpg');
	} // 1199

	@media (max-width: 991px) {
		.swiper-slide {
			max-width: 220px;
		}
	} // 1199

	@media (max-width: 767px) {
		background-image: url('../img/@lp/@synergyonline-platform/weekly-forums/mobile/bg.jpg');
		padding: 30px 0;

		&__desc {
			font-size: 18px;
			&_1 {
				margin-bottom: 20px;
			}
		}

		&__subtitle {
			font-size: 18px;
		}

	}	// 767

	@media (max-width: 360px) {
		.swiper-slide {
			max-width: none;
		}

	}	// 360

}