.news {

	@media (max-width: 1199px) {
	} // 1199

	@media (max-width: 991px) {
		&__slide {
			&-text {
				font-size: 16px;
			}
			&-desc {
				font-size: 11px;
			}
		}
		.swiper-slide {
			max-width: 360px;
		}
	} // 1199

	@media (max-width: 767px) {
	}	// 767

	@media (max-width: 360px) {
		.swiper-slide {
			max-width: none;
		}
	}	// 360

}