.news {
	padding: 60px 0 45px;
	background: none;

	&__title {
		margin-bottom: 25px;
		text-align: center;
	}

	&__slide {
		&-photo {
			margin-bottom: 10px;
			img {border-radius: 10px;}
		}
		&-text {
			font-size: 18px;
			font-weight: bold;
			color: #000000;
			line-height: 120%;
		}
		&-desc {
			margin-top: 3px;
			font-size: 14px;
			color: #808080;
		}
	}

	&__slider {
		overflow: hidden;
	}
	&__link {
		&:hover,
		&:active {
			text-decoration: none;
		}
	}
}
