.faq {

	@media (max-width: 991px) {
		padding-top: 30px;
	} // 991

	@media (max-width: 767px) {
		padding-bottom: 20px;
		&__title {
			font-size: 49px;
			margin-bottom: 20px;
		}

		&__item {
			font-size: 18px;
			line-height: 28px;

			&-top {
				padding: 18px 35px 18px 0;

				&:after {
					right: 0;
					top: 20px;
				}
			}
			&-bottom {
				padding: 0 40px 20px 0;
			}
		}
	}	// 767

}