$red: #F8006B;
$blue: #000051;
$lblue: #2D1CED;

$font-regular: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
$font-xcondensed: 'Proxima Nova ExCn', 'Helvetica Neue', Helvetica, sans-serif;
$font-condensed: 'Proxima Nova Cn', 'Helvetica Neue', Helvetica, sans-serif;

// Костыли для IE11
// @include ie11-align-center-fix;
@mixin ie11-align-center-fix {
	_:-ms-fullscreen, &:after {
		content: '';
		min-height: inherit;
		font-size: 0;
	}
}

// @include ie11-min-height-fix;
@mixin ie11-min-height-fix {
	_:-ms-fullscreen, & {
		height: 100%;
	}
}